@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
/* Site Wide */

html,
body {
    font-family: 'Montserrat', 'Roboto', serif !important;
}

.footer a {
    color: #fff !important;
}

h1.title,
h2.title,
h3.title,
h4.title,
.cart h1,
.cart h2,
.cart h3,
.cart h4 {
    font-family: 'Montserrat', 'Roboto', serif !important;
}

#btn_backlink {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    padding: 8px 12px;
    height: auto;
    line-height: 1;
    font-size: 0.9em;
    top: 5%;
    left: 2%;
}

/* End Of Site Side */

/* HOME PAGE */

.welcome {
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: multiply;
}

.welcome .content {
    max-width: 90%;    
}

@media (min-width: 768px) {
    .welcome .content {
        max-width: 80%;
    }
}
@media (min-width: 990px) {
    .welcome .content {
        max-width: 1044px;
    }
}
.content h1.title {
    font-family: 'Montserrat', 'Roboto', serif !important;
    font-weight: 700;
    color: #578fdd !important;
    text-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    font-size: 5em;
    line-height: 1.3;
    letter-spacing: -2px
}

.btn {
    font-family: 'Montserrat', 'Roboto', serif !important;
    text-transform: uppercase;
    letter-spacing: 1px
}

.cover {
    height: 46.5vw;
}

@media (min-width: 768px) {
    .cover {
        height: 26.5vw;
    }
    #btn_backlink {
        top: 3%;
        left: 1%;
        padding: 12px 20px;
        height: auto;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .content h1.title {
        font-size: 2em;
        line-height: 1.2;
    }
}

.content h3 {
    font-family: 'Montserrat', 'Roboto', serif !important;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
    .welcome .content h3 {
        font-size: 1.2em;
        width: 70%;
    }
}

.section h1.title,
.section h2.title {
    font-family: 'Montserrat', 'Roboto', serif !important;
}

.section.how-it-works {
    padding: 60px 0;
}

.section.how-it-works h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Montserrat', 'Roboto', serif !important;
    font-size: 3.4em;
    letter-spacing: -1.6px;
}

@media (max-width: 768px) {
    .section.how-it-works h1 {
        font-size: 2em;
    }
}

.section.how-it-works .col-md-3 img {
    width: 70%;
}

@media (max-width: 768px) {
    .section.how-it-works .col-md-3 img {
        width: 50%;
    }
}

.section.how-it-works .col-md-3 h3 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.3em;
}

@media (max-width: 768px) {
    .section.how-it-works .col-md-3 h3 {
        font-size: 1.1em;
    }
}

.section.how-it-works .step {
    -webkit-transition: 300ms;
    transition: 300ms;
    margin-bottom: 30px;
}

.section.how-it-works .step:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.groups,
.deliver,
.faq,
.partner {
    padding: 30vh 5%;
    text-align: center;
    background-image: url(../img/custom/deliver.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: multiply;
    border-top: 2px solid #fff;
}

.partner {
    background-image: url(../img/custom/partner.jpg);
}

.faq {
    background: #dedede;
    padding: 50px 5% 60px;
}

.groups {
    background-image: url(../img/custom/group-orders.jpg);
}

.deliver .content,
.faq .content,
.partner .content {
    max-width: 70%;
    margin: 0 auto;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.groups .content,
.deliver .content,
.faq .content,
.partner .content {
    color: #fff !important;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.faq .content {
    color: #000 !important;
    text-shadow: none;
}
.groups .content {
    padding: 0 15%;
}
@media(min-width: 768px) {
    .faq {
        padding: 10vh 15%;
    }
}

.groups h3.title,
.deliver h3.title,
.faq h3.title,
.partner h3.title {
    font-weight: 700;
    color: #fff !important;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.faq h3.title {
    text-shadow: none;
    color: #578fdd !important;
}

.download {
    background: #578fdd !important;
}

.download .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
}

.affiliates {
    position: relative;
    background: #578fdd !important;
    border-top: 2px solid #fff;
}

.affiliates .affiliate-image-wrap {
    position: absolute; 
    width: 100%;
    height: 100%
}

.affiliates .right-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
.affiliates .right-image-wrapper .photo-wrap {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-image: url(../img/custom/affiliates-small.jpg);
    background-size: cover;
    background-position: center;
    border-left: 2px solid #fff;
}
.affiliates .container {
    z-index: 1; 
    position: relative;
    padding: 100px 0;
}
.affiliates .container .text {
    width: 45%;
    padding-right: 5%;
}
.affiliates .container .text p {
    color: #fff;
    margin-bottom: 40px;
}
.affiliates .container h3.title {
    color: #fff !important;
}
.affiliates .button-white-web {
    background: #fff;
}

.affiliate-header {
    background: url(../../img/custom/affiliates-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.affiliate-header h1 {
    padding: 8% 0;
    color: #fafafa;
    font-size: 2.25em;
}

.affiliate-image-wrap img {
    width: 100%;
    margin-bottom: 30px;
}


@media (min-width: 768px) {
    .download .container {
        padding: 30px 0;
        text-align: left;
    }
}

.download .container .text {
    width: 100%;
    margin-bottom: 30px;
}

.download .container .photo {
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .download .container .text {
        width: 65%;
        margin-bottom: 0;
    }
    .download .container .photo {
        width: 35%;
    }
}

.download .container .photo img {
    max-width: 100%;
    width: 70%;
}

@media (min-width: 768px) {
    .download .container .photo img {
        width: 100%;
    }
}

.download .container .text h3.title,
.download .container .text {
    color: #fff !important;
}

.container-fluid.welcome {
    background-image: url(../img/custom/home-backgound-image.jpg);
}

/* END HOME PAGE */

/* BUSINESS PAGE */

.thumbnail div.header {
    min-height: 150px;
    background-color: rgba(0, 0, 0, 0.31);
    background-blend-mode: multiply;
    position: relative;
}

.thumbnail .header .logo {
    width: 70px;
    padding-bottom: 0;
    border: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    -webkit-transform: translate( 10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
    max-width: 100px;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.thumbnail .header img {
    position: relative;
    padding: 4px;
    display: inline-block;
    background: rgba(255, 255, 255, .75);
}

.thumbnail:hover .header .logo {
    width: 100px;
}

.business .cartel,
.thumbnail .cartel {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 6px 11px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    font-size: 1.2em;
    z-index: 9;
    font-family: 'Montserrat';
    font-weight: 300;
}

.business .cartel:before,
.thumbnail .cartel:before {
    border-width: 3px;
    border-style: solid;
    border-color: #082635 #082635 transparent transparent;
    bottom: -5px;
    content: "";
    position: absolute;
    left: 0px;
}

li.distance,
li.min-order,
li.open-times {
    display: none;
}

li.business-name {
    font-size: 1.3em;
}

.open-time-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 170%;
    -webkit-transform: translate(67%);
    transform: translate(67%)
}

.open-time-wrapper div {
    padding: 4px;
    display: inline-block;
    background: rgba(255, 255, 255, .75);
    margin-right: 2px;
    line-height: 1;
    border-radius: 3px;
}

.open-time-wrapper div:nth-of-type(2) {
    background: none;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, .75);
    padding: 4px 0;
}

/* END BUSINESS PAGE */

/* Footer */

div.footer {
    padding: 30px 15px;
    min-height: 0;
}

/* End Footer */

/* Confirmation Page */

.checkout-header {
    background: url(../../img/custom/confirmation-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

/* End Confirmation Page */

/* Restaurant Page */

.cover img.logo {
    height: auto;
}

/* End Restaurant Page */

/* Check Out */

.modal.inline .popup-mode .item-radio .item-content p {
    position: relative
}
.modal.inline .popup-mode .item-radio .item-content p.float-left.ng-binding {
    width: 150px;
}
.modal.inline .popup-mode .item-radio .item-content p.float-left.ng-binding:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 7px;
    color: #666;
    background: #fff;
    padding-right: 10px;
    padding-left: 3px;

}
.modal.inline .popup-mode .item-radio[value="Cash"] .item-content p.float-left.ng-binding:before {
    content: 'Cash' !important;
}
.modal.inline .popup-mode .item-radio[value="Stripe"] .item-content p.float-left.ng-binding:before {
    content: 'Card Payment' !important;
}
.modal.inline .popup-mode .item-radio[value="Card"] .item-content p.float-left.ng-binding:before {
    content: 'Card Payment' !important;
}
tr[data-ng-if="serviceFee != 0"] td:nth-of-type(1) {
    position: relative;
}
tr[data-ng-if="serviceFee != 0"] td:nth-of-type(1):after {
    content: 'Public Holiday Surcharge (10%)';
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.tip {
    margin: 10px 0 5px;
    color: #f00;
}
/* End Of Check Out */

p img {
    max-width: 100%;
}

.footer-links {
    background: #5e8dc9;
    margin-top: -30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
    padding: 30px 0;    
}
.footer-links a {
    color: #fff;
}
.footer-links a.city-link {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}   
.footer-links ul,
.footer-links li  {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 4px 0;
    text-align: left;
}
.footer-links .container div:nth-child(6) {
    margin-top: 20px;
}

/*new css for bclose popup web*/
.close-title{
    font-size:22px !important;
    text-align:center  !important;
        color: #EF1962  !important;
        margin-top:60px !important;
        white-space:normal !important;
}
.close-des{
    font-size:16px  !important;
    text-align:center  !important;
        color: #949494  !important;
        margin-top:15px !important;
        white-space:normal !important;
}
.ok-btn{
        width: 100px !important;
    min-height: 36px !important;
    border: 1px solid #EF1962 !important;
    background: #EF1962 !important;
    text-align: center;
    display: block;
    margin: 20px auto;
    line-height: 36px;
    font-size: 15px;
    padding: 0px !important;
    color: #fff !important;
    border-radius: 3px !important;
}