<div class="footer-links">
  <div class="container">
    <div class="col-sm-12">
      <a href="/search/type/delivery/address/Queenstown" class="city-link">Queenstown Restaurants</a>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul>
        <li><a href="/bella">Bella Cucina</a></li>
        <li><a href="/boliwood">Boliwood</a></li>
        <li><a href="/bombay">Bombay Palace</a></li>
        <li><a href="/caribe">Caribe</a></li>
        <li><a href="/coyotegrill">Coyote Grill</a></li>
        <li><a href="/devilburger">Devil Burger</a></li>
        <li><a href="/eriks">Erik's Fish &amp; Chips</a></li>
        <li><a href="/farellis">Farelli’s Trattoria</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul>
        <li><a href="/fatbadgers">Fat Badgers</a></li>
        <li><a href="/finz">Finz</a></li>
        <li><a href="/flame">Flame</a></li>
        <li><a href="/fritzsweiners">Fritz's Weiners</a></li>
        <li><a href="/hawkerandroll">Hawker &amp; Roll</a></li>
        <li><a href="/lakesidepalace">Lakeside Palace</a></li>
        <li><a href="/lonestar">Lonestar</a></li>
        <li><a href="/lordofthefries">Lord Of The Fries</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul>
        <li><a href="/madamwoo">Madam Woo</a></li>
        <li><a href="/misslucys">Miss Lucys</a></li>
        <li><a href="/mythai">My Thai Lounge</a></li>
        <li><a href="/rehab">Rehab</a></li>
        <li><a href="/seasonsbistro">Seasons Bistro</a></li>
        <li><a href="/smokedout">Smoked Out</a></li>
        <li><a href="/smiths">Smiths</a></li>
        <li><a href="/tacomedic">Taco Medic</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul>
        <li><a href="/tanoshiiko">Tanoshi Iko</a></li>
        <li><a href="/thelondon">The London</a></li>
        <li><a href="/thetaj">The Taj Indian Kitchen</a></li>
        <li><a href="/thetao">The Tao</a></li>
        <li><a href="/worldbar">The World Bar</a></li>
        <li><a href="/turkishkebabs">Turkish Kebabs</a></li>
      </ul>
    </div>
 

    <div class="col-sm-12">
      <a href="/search/type/delivery/address/Shotover%20Country%20Cottages,%20Lower%20Shotover,%20New%20Zealand" class="city-link">Frankton/Shotover Country Restaurants</a>
    </div>

    <div class="col-md-3 col-sm-6">
      <ul>
        <li><a href="/boliwoodfrankton">Boliwood Frankton</a></li>
        <li><a href="/bombayfrankton">Bombay Palace Frankton</a></li>
        <li><a href="/franks">Franks + Go</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul>
        <li><a href="/franktonpizzeria">Frankton Pizzeria</a></li>
        <li><a href="/pitapit">Pita Pit</a></li>
        <li><a href="/memee">Me &amp; Mee</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul>
        <li><a href="/settlers">Settlers Bar & Restaurant</a></li>
        <li><a href="/thaitanium">Thaitanium</a></li>
        <li><a href="/thehayes">The Hayes</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <ul>
          <li><a href="/zambreros">Zambreros</a></li>
      </ul>
    </div>
    </div>



  </div>
</div>
<div class="footer-fooeer">
  <div class="col-sm-6">  
      Copyright ©2019 Food On Q Ltd, All Rights Reserved.
  </div>
  <div class="col-sm-6 text-right">
    <a href="/contact">Contact Us</a> | <a href="/privacyPolicy">Privacy Policy</a> | <a href="/terms">Terms &amp; Conditions</a>
  </div>
</div>