<span ng-if="siteonoff == 'Y'" ng-include="'templates/custom/landingpage.html'"></span>
<span ng-if="siteonoff == 'N'">
  <div class="container-fluid welcome">
    <div class="content">
      <h1 class="title" data-ng-if="MLanguages.HOME_WELCOME_TITLE">{{ MLanguages.HOME_WELCOME_TITLE }}</h1>
      <h1 class="title-preload text-transparent-load" data-ng-if="!MLanguages.HOME_WELCOME_TITLE">Title</h1>
      <h3 data-ng-if="MLanguages.HOME_WELCOME_SUBTITLE">{{ MLanguages.HOME_WELCOME_SUBTITLE }}</h3>
      <h3 class="text-transparent-load" data-ng-if="!MLanguages.HOME_WELCOME_SUBTITLE">Subtitle</h3>
      <div>
        <!--<div class="form-group col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" data-ng-show=ADDONS.multilanguage>
          <select class="form-control" data-ng-model="myOrder.lang.id" data-ng-options="lang.id as lang.langText for lang in LangList | filter:lang.enabled = true" default-option="{{ MLanguages.MOBILE_FRONT_SELECT_YOUR_LANGUAGE }}" data-ng-change="selectLanguage(myOrder.lang.id)"></select>
        </div>-->
        <form>
        <div class="form-group col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" data-ng-show=ADDONS.pickup select-content>
          <select class="form-control" data-ng-model="myOrder.orderType">
            <option data-ng-repeat="item in orderTypelist" value="{{item.value}}" data-ng-selected="item.selected">
            {{item.name}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1"  data-ng-show="SEARCH_BY_ADDRESS">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-map-marker"></i>
            </div>
            <input type="text" class="form-control" placeholder="{{ MLanguages.MOBILE_FRONT_VISUALS_ADDRESS_OR_ZIPCODE }}" data-ng-class="{cssArabic: $root.arabic_rtl, noncssArabic: !$root.arabic_rtl}" data-ng-model="myOrder.curAddress" class="font-mid input-home" data-ng-change="googleplace_changed()" id="rest-full-address" googleplace="googleplaceCallback()" data-ng-click="onAutoCompleteAddress()" data-ng-focus="openMap()">
          </div>
        </div>
        <div class="form-group col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" data-ng-show="!SEARCH_BY_ADDRESS" select-content>
          <select class="form-control" data-ng-model="myOrder.curCity" data-ng-change="selectCity(myOrder.curCity)">
            <option data-ng-repeat="items in Citylist" value="{{items.value}}" default-option="{{ MLanguages.FRONT_SELECT_CITY }}">
            {{items.name}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" data-ng-show="!SEARCH_BY_ADDRESS" select-content>
          <select class="form-control" data-ng-model="myOrder.curNeighbour">
            <option data-ng-repeat="item in Neighlist" value="{{item.value}}" data-ng-selected="item.selected">
            {{item.name}}
            </option>
          </select>
        </div>
        <div class="form-group content-center col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
          <button type="submit" class="btn btn-primary" data-ng-click="findRest(!SEARCH_BY_ADDRESS, true)">
            {{ MLanguages.NEW_MOBILE_HOME_START_FIND_RESTAURANT }}
          </button>
        </div>
        </form>
      </div>
      <div class="clean"></div>
    </div>
  </div>
<div ng-include src="'templates/web1/home-content.html'"></div>
</span>