<div class="container section full how-it-works">
  <div class="col-md-12">
    <h1 class="title">
      How It Works
    </h1>
  </div>
  <div class="col-md-3 col-xs-6 text-center step">
    <img src="img/custom/post-code.png" />
    <h3>1. Enter Your Address</h3>
  </div>
  <div class="col-md-3 col-xs-6 text-center step">
    <img src="img/custom/store.png" />
    <h3>2. Choose Your Restaurant</h3>
  </div>
  <div class="col-md-3 col-xs-6 text-center step">
    <img src="img/custom/enjoy.png" />
    <h3>3. Confirm Your Order</h3>
  </div>
  <div class="col-md-3 col-xs-6 text-center step">
    <img src="/img/custom/deliver.png" />
    <h3>4. Relax While We Deliver</h3>
  </div>
</div>

<div class="container-fluid full faq">
  <div class="full">
    <div class="title-wrap">
      <h3 class="title">FAQ / How To's</h3>
    </div>
    <div class="content">
      If you are having trouble with the site, take a look at our FAQ and How To Guide page.
    </div>
    <div class="btn-wrap">
      <a href="/faq">
        <div class="btn btn-primary hidden-sm hidden-xs">
          FREQUENTLY ASKED QUESTIONS
        </div>
        <div class="btn btn-primary hidden-md hidden-lg">
          FAQs
        </div>
      </a>
      <a href="/howtoguides">
        <div class="btn btn-primary">
          HOW TO GUIDES
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid section full affiliates">
  <div class="right-image-wrapper" >
    <div class="photo-wrap">

    </div>
  </div>

  <div class="container">
    <div class="text">
      <h3 class="title ">Food On Q Affiliates</h3>
      <p>Here at Food On Q we love partnering up with all the amazing local businesses and helping showcase what they’re about. Click on through to our affiliate page and check out some of the best, including some great exclusive offers!</p>
      <div>
        <a href="/affiliates">
          <div class="btn button-white-web">
            CHECK OUT FOOD ON Q AFFILIATES
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid full groups">
    <div class="full">
      <div class="title-wrap">
        <h3 class="title">Group Orders</h3>
      </div>
      <div class="content">
          Our group ordering function is designed for large groups to place pre-orders with us. We can cater for any number of people you require and can deliver for over 40 restaurants anywhere in the Queenstown lakes area. Simply fill out the below form and one of our representatives will get back to you to assist your further. Have a great day.
      </div>
      <div class="btn-wrap">
        <a href="/group-orders">
          <div class="btn btn-primary">
            Make a Group Order Now!
          </div>
        </a>
      </div>
    </div>
  </div>
  
<div class="container-fluid full partner">
  <div class="full">
    <div class="title-wrap">
      <h3 class="title">Partner With Us</h3>
    </div>
    <div class="content">
      Fancy opening up your dining room to your whole area? Drop us a line and we can talk you through how we can help grow your
      business today.
    </div>
    <div class="btn-wrap">
      <a href="/restaurants">
        <div class="btn btn-primary">
          More Information
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid full deliver">
  <div class="full">
    <div class="title-wrap">
      <h3 class="title">Deliver With Us</h3>
    </div>
    <div class="content">
      Looking for a full or part time employed job, or maybe even a self employed position to work around your other commitments?
      We offer it all. Send us your details today to get started.
    </div>
    <div class="btn-wrap">
      <a href="/drivers">
        <div class="btn btn-primary">
          More Information
        </div>
      </a>
    </div>
  </div>
</div>

