<!--<ion-content overflow-scroll="true">-->
  <!--<nav class="navbar editor navbar-default" data-ng-if="ADDONS.editor_mode && editorAvilable">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-editor" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" data-ng-click="onGoHome()">
        {{ MLanguages.EDITOR_TITLE }}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-editor">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-ng-repeat="page in pagesToEdit" data-ng-if="page.key == ''">{{page.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li data-ng-repeat="page in pagesToEdit" data-ng-if="(page.key != '' && page.key != 'settings') || (page.key != '' && page.key == 'settings' && superAdmin)"><a data-ng-click="goToPageEdit(page.key)">{{page.name}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://my.ordering.co/"><i class="fa fa-cog" aria-hidden="true"></i> {{ MLanguages.ORDERING_BUILDER }}</a></li>
      </ul>
    </div>
    </div>
  </nav>-->
   <span ng-if="siteonoff == 'N'">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" data-ng-click="onGoHome()">
        <img class="logo" alt="logo" src="../css/web1/img/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a data-ng-click="onGoHome()"><i class="fa fa-home" aria-hidden="true"></i> {{MLanguages.MOBILE_MENU_LIST_HOME}}</a></li>
        <li class="dropdown" data-ng-if="ADDONS.editor_mode && editorAvilable">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-ng-repeat="page in pagesToEdit" data-ng-if="page.key == ''"><label class="round">{{page.name}} <span class="caret"></span></label></a>
          <ul class="dropdown-menu">
            <li data-ng-repeat="page in pagesToEdit" data-ng-if="(page.key != '' && page.key != 'settings') || (page.key != '' && page.key == 'settings' && superAdmin)"><a data-ng-click="goToPageEdit(page.key)">{{page.name}}</a></li>
          </ul>
        </li>
        <li><a data-ng-if="!getLogState()" data-ng-click="onGoLogin()"><i class="fa fa-sign-in" aria-hidden="true"></i> {{MLanguages.LOGIN}}</a></li>
        <li><a data-ng-if="!getLogState()" data-ng-click="onGoMyProfile()"><i class="fa fa-user-plus" aria-hidden="true"></i> {{MLanguages.SIGNUP}}</a></li>
        <li>
          <a data-ng-if="getLogState()" data-ng-click="onGoMyProfile()">
            <i class="fa fa-user" aria-hidden="true"></i> {{MLanguages.FRONT_MY_ACCOUNT}}
            <label class="notifications" data-ng-if="reviewStatus.pending > 0 && ADDONS.order_reviews" data-ng-click="onGoMyProfile(1, $event)">
              <i class="fa fa-bell-o" aria-hidden="true"></i>
              <span class="count">{{reviewStatus.pending}}</span>
            </label>
          </a>
        </li>
        <li><a data-ng-if="getLogState()" data-ng-click="onSignOut()"><i class="fa fa-power-off" aria-hidden="true"></i> {{MLanguages.MOBILE_FRONT_LOGOUT}}</a></li>
        <li><a data-ng-click="onCart()" class="cart" data-ng-class="{'empty': numCart == 0}">
          <label>
            <i class="fa fa-shopping-bag" aria-hidden="true"></i> {{numCart}}</a>
          </label>
        </li>
        <li class="dropdown" data-ng-if="ADDONS.multilanguage">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-ng-repeat="lang in LangList" data-ng-if="lang.id == cur_lang"><label class="round">{{lang.langShortCode.toUpperCase()}} <span class="caret"></span></label></a>
          <ul class="dropdown-menu">
            <li data-ng-repeat="lang in LangList"><a data-ng-click="selectLanguage(lang.id)">{{lang.langText}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </span>
  <div ui-view='content'>
  </div>
    <span ng-if="siteonoff == 'N'">
  <div class="container footer no-print" style="color: #fff">
    <div ng-include src="'templates/web1/layouts/footer.html'"></div> 
  </div>
  </span>