  <div class="container-fluid">
    <div class="subtitle compress" data-ng-if="BUSINESS_TYPES">
      {{nearCount}} {{ MLanguages.MOBILE_FRONT_VISUALS_RESTAURANTS }} {{ MLanguages.MOBILE_FRONT_NEAR }} {{nearAddress}}
    </div>
    <div class="subtitle">
      <span data-ng-if="!BUSINESS_TYPES">{{nearCount}} {{ MLanguages.MOBILE_FRONT_VISUALS_RESTAURANTS }} {{ MLanguages.MOBILE_FRONT_NEAR }} {{nearAddress}}</span>
      <ul class="nav nav-tabs inline hidden-xs" data-ng-if="BUSINESS_TYPES">
        <li>
          <a class="active" href="#" data-ng-class="{'active': filterBusinessType == ''}" data-ng-click="selectBusinessType($event, '')">{{MLanguages.MOBILE_MENU_LIST_ALL}}</a>
        </li>
        <li>
          <a href="#" data-ng-class="{'active': filterBusinessType == 'food'}" data-ng-click="selectBusinessType($event, 'food')">{{MLanguages.BUSINESS_TYPE_FOOD}}</a>
        </li>
        <li>
          <a href="#" data-ng-class="{'active': filterBusinessType == 'alcohol'}" data-ng-click="selectBusinessType($event, 'alcohol')">{{MLanguages.BUSINESS_TYPE_ALCOHOL}}</a>
        </li>
        <li>
          <a href="#" data-ng-class="{'active': filterBusinessType == 'groceries'}" data-ng-click="selectBusinessType($event, 'groceries')">{{MLanguages.BUSINESS_TYPE_GROCERIES}}</a>
        </li>
        <li>
          <a href="#" data-ng-class="{'active': filterBusinessType == 'laundry'}" data-ng-click="selectBusinessType($event, 'laundry')">{{MLanguages.BUSINESS_TYPE_LAUNDRY}}</a>
        </li>
      </ul>
      <div class="form-group filter col-sm-3 col-xs-6" select-content>
        <!-- <label>Filter by </label> -->
        <select class="form-control" data-ng-model="sortBy">
          <option value="" disabled="true" selected="true">{{ MLanguages.SORT_BY }}</option>
          <option value="distance*1">{{ MLanguages.DISTANCE }}</option>
          <option value="-review.total*1" data-ng-if="ADDONS.order_reviews">{{ MLanguages.RATING }}</option>
          <option value="-id*1">{{ MLanguages.NEWEST }}</option>
          <option value="name">{{ MLanguages.A_TO_Z }}</option>
          <option value="minimum*1">{{ MLanguages.MINIMUM_ORDER }}</option>
          <option value="{{ordertype=='delivery'?'deliverytime_min':'pickuptime_min'}}">{{ MLanguages.V3_ORDER_DELIVERY_TIME }}</option>
        </select>
      </div>
      <div class="form-group col-sm-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" data-ng-model="filterBusiness" placeholder="{{ MLanguages.MOBILE_FRONT_VISUALS_SEARCH }}">
        </div>
      </div>
      <ul class="nav nav-tabs inline visible-xs-block" data-ng-if="BUSINESS_TYPES">
        <li>
          <a class="active" href="#" data-ng-class="{'active': filterBusinessType == ''}" data-ng-click="selectBusinessType($event, '')">{{MLanguages.MOBILE_MENU_LIST_ALL}}</a>
        </li>
        <li>
          <a href="#" data-ng-class="{'active': filterBusinessType == 'food'}" data-ng-click="selectBusinessType($event, 'food')">{{MLanguages.BUSINESS_TYPE_FOOD}}</a>
        </li>
        <li>
          <a href="#" data-ng-class="{'active': filterBusinessType == 'alcohol'}" data-ng-click="selectBusinessType($event, 'alcohol')">{{MLanguages.BUSINESS_TYPE_ALCOHOL}}</a>
        </li>
        <li>
          <a href="#" data-ng-class="{'active': filterBusinessType == 'groceries'}" data-ng-click="selectBusinessType($event, 'groceries')">{{MLanguages.BUSINESS_TYPE_GROCERIES}}</a>
        </li>
        <li>
          <a href="#" data-ng-class="{'active': filterBusinessType == 'laundry'}" data-ng-click="selectBusinessType($event, 'laundry')">{{MLanguages.BUSINESS_TYPE_LAUNDRY}}</a>
        </li>
      </ul>
      <div style="clear: both;"></div>
    </div>
    <div class="businesses">
      <!-- BUSINESS OPEN FEATURED -->
      <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | filter : filterBusiness | orderBy:sortBy track by $index" data-ng-click="onRestaurantItem(item)" data-ng-if="getOpenClose(item.now, item.openTime, item.today, item.schedulemodify) && item.feature == 't'">
        <div class="thumbnail">
          <div data-ng-if="ADDONS.featured_business" class="cartel featured">{{ MLanguages.BLIST_FEATURED }}</div>
          <div class="header" style="background-image: url({{item.headerUrl}}), url({{dummyHeader}});">
            <div class="logo">
              <img data-ng-cache data-ng-src="{{item.logo}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
              <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
              <div class="open-time-wrapper">
                  <div class="open-time">{{ getFormattedTime(item.openTime.opens) }}</div>
                  <div class="sep"> - </div>
                  <div class="close-time">{{ getFormattedTime(item.openTime.closes) }}</div>
                </div>              
            </div>
          </div>
          <!-- <img class="header" data-ng-cache data-ng-src="{{item.headerUrl}}" err-src="{{dummyHeader}}" data-ng-if="item.isImgH == 1">
          <img class="header" data-ng-src="{{dummyHeader}}" data-ng-if="item.isImgH == 0"> -->
          <div class="caption">
            <p>
              <ul>
                <li class="business-name">{{item.info.name}}</li>
                <li class="open-times">{{ getFormattedTime(item.openTime.opens) }} - {{ getFormattedTime(item.openTime.closes) }}</li>
                <li class="min-order"><strong>{{ MLanguages.MINIMUM_ORDER }}:</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.minimum  | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="delivery-price" data-ng-if="orderType == 1"><strong>{{ MLanguages.DELIVERY_V2 }}</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.deliveryCost*orderType | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="promotion"><strong>{{ MLanguages.MOBILE_BUSINESS_LIST_PROMOTION }}:</strong> {{item.promotion}}</li>
                <li class="distance" ng-if="SEARCH_BY_ADDRESS"><strong>{{ MLanguages.DISTANCE }}:</strong> {{ getFormattedDistance(item.distance) }}</li>
              </ul>
              <div class="rating" data-ng-if="ADDONS.order_reviews">
                <div class="base">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="points" style="width: {{getWidthRating(item.review.total!=undefined?item.review.total:item.reviews)}}px;">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div> <span data-ng-if="ADDONS.order_reviews">({{item.review.total!=undefined?item.review.total:item.reviews | number:DECIMAL.length | separator}} {{MLanguages.MOBILE_MENU_LIST_RATINGS}})</span>
            </p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
          </div>
        </div>
      </div>
      <!-- BUSINESS OPEN -->
      <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | filter : filterBusiness | orderBy:sortBy track by $index" data-ng-click="onRestaurantItem(item)" data-ng-if="getOpenClose(item.now, item.openTime, item.today, item.schedulemodify) && item.feature == 'f'">
        <div class="thumbnail">
          <div class="header" style="background-image: url({{item.headerUrl}}), url({{dummyHeader}});">
            <div class="logo">
              <img data-ng-cache data-ng-src="{{item.logo}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
              <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
              <div class="open-time-wrapper">
                  <div class="open-time">{{ getFormattedTime(item.openTime.opens) }}</div>
                  <div class="sep"> - </div>
                  <div class="close-time">{{ getFormattedTime(item.openTime.closes) }}</div>
                </div>              
            </div>
          </div>
          <!-- <img class="header" data-ng-cache data-ng-src="{{item.headerUrl}}" err-src="{{dummyHeader}}" data-ng-if="item.isImgH == 1">
          <img class="header" data-ng-src="{{dummyHeader}}" data-ng-if="item.isImgH == 0"> -->

          <div class="caption">
            <p>
              <ul>
                <li class="business-name">{{item.info.name}}</li>
                <li class="open-times">{{ getFormattedTime(item.openTime.opens) }} - {{ getFormattedTime(item.openTime.closes) }}</li>
                <li class="min-order"><strong>{{ MLanguages.MINIMUM_ORDER }}:</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.minimum  | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="delivery-price" data-ng-if="orderType == 1"><strong>{{ MLanguages.DELIVERY_V2 }}</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.deliveryCost*orderType | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="promotion"><strong>{{ MLanguages.MOBILE_BUSINESS_LIST_PROMOTION }}:</strong> {{item.promotion}}</li>
                <li class="distance" ng-if="SEARCH_BY_ADDRESS"><strong>{{ MLanguages.DISTANCE }}:</strong> {{ getFormattedDistance(item.distance) }}</li>
              </ul>
              <div class="rating" data-ng-if="ADDONS.order_reviews">
                <div class="base">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="points" style="width: {{getWidthRating(item.review.total!=undefined?item.review.total:item.reviews)}}px;">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div> <span data-ng-if="ADDONS.order_reviews">({{item.review.total!=undefined?item.review.total:item.reviews | number:DECIMAL.length | separator}} {{MLanguages.MOBILE_MENU_LIST_RATINGS}})</span>
            </p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
          </div>
        </div>
      </div>
      <!-- BUSINESS CLOSED FEATURE -->
      <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | filter : filterBusiness | orderBy:sortBy track by $index" data-ng-click="openPreorder(item)" data-ng-if="!getOpenClose(item.now, item.openTime, item.today, item.schedulemodify) && item.feature == 't' && ADDONS.custom_close==false">
        <div class="thumbnail" data-ng-class="{'closed': !getOpenClose(item.now, item.openTime, item.today, item.schedule)}">
          <div data-ng-if="ADDONS.featured_business" class="cartel featured">{{ MLanguages.BLIST_FEATURED }}</div>
          <div class="cartel">{{ MLanguages.BUSINESS_CLOSED }}</div>
          <div class="cartel preorder" data-ng-if="ADDONS.preorder">{{ MLanguages.PREORDER }}</div>
          <div class="header" style="background-image: url({{item.headerUrl}}), url({{dummyHeader}});">
            <div class="logo">
              <img data-ng-cache data-ng-src="{{item.logo}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
              <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
              <div class="open-time-wrapper">
                <div class="open-time">{{ getFormattedTime(item.openTime.opens) }}</div>
                <div class="sep"> - </div>
                <div class="close-time">{{ getFormattedTime(item.openTime.closes) }}</div>
              </div>
            </div>            
          </div>
          <!-- <img class="header" data-ng-cache data-ng-src="{{item.headerUrl}}" err-src="{{dummyHeader}}" data-ng-if="item.isImgH == 1">
          <img class="header" data-ng-src="{{dummyHeader}}" data-ng-if="item.isImgH == 0"> -->

          <div class="caption">
            <p>
              <ul>
                <li class="business-name">{{item.info.name}}</li>
                <li class="open-times">{{ getFormattedTime(item.openTime.opens) }} - {{ getFormattedTime(item.openTime.closes) }}</li>
                <li class="min-order"><strong>{{ MLanguages.MINIMUM_ORDER }}:</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.minimum  | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="delivery-price" data-ng-if="orderType == 1"><strong>{{ MLanguages.DELIVERY_V2 }}</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.deliveryCost*orderType | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="promotion"><strong>{{ MLanguages.MOBILE_BUSINESS_LIST_PROMOTION }}:</strong> {{item.promotion}}</li>
                <li class="distance" ng-if="SEARCH_BY_ADDRESS"><strong>{{ MLanguages.DISTANCE }}:</strong> {{ getFormattedDistance(item.distance) }}</li>
              </ul>
              <div class="rating" data-ng-if="ADDONS.order_reviews">
                <div class="base">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="points" style="width: {{getWidthRating(item.review.total!=undefined?item.review.total:item.reviews)}}px;">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div> <span data-ng-if="ADDONS.order_reviews">({{item.review.total!=undefined?item.review.total:item.reviews | number:DECIMAL.length | separator}} {{MLanguages.MOBILE_MENU_LIST_RATINGS}})</span>
            </p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
          </div>
        </div>
      </div>
      <!-- BUSINESS CLOSED -->
      <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | filter : filterBusiness | orderBy:sortBy track by $index" data-ng-click="openPreorder(item)" data-ng-if="!getOpenClose(item.now, item.openTime, item.today, item.schedulemodify) && item.feature == 'f'&& ADDONS.custom_close==false">
        <div class="thumbnail" data-ng-class="{'closed': !getOpenClose(item.now, item.openTime, item.today, item.schedule)}">
          <div class="cartel">{{ MLanguages.BUSINESS_CLOSED }}</div>
          <div class="cartel preorder" data-ng-if="ADDONS.preorder">{{ MLanguages.PREORDER }}</div>
          <div class="header" style="background-image: url({{item.headerUrl}}), url({{dummyHeader}});">
            <div class="logo">
              <img data-ng-cache data-ng-src="{{item.logo}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
              <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
              <div class="open-time-wrapper">
                  <div class="open-time">{{ getFormattedTime(item.openTime.opens) }}</div>
                  <div class="sep"> - </div>
                  <div class="close-time">{{ getFormattedTime(item.openTime.closes) }}</div>
                </div>              
            </div>
          </div>
          <!-- <img class="header" data-ng-cache data-ng-src="{{item.headerUrl}}" err-src="{{dummyHeader}}" data-ng-if="item.isImgH == 1">
          <img class="header" data-ng-src="{{dummyHeader}}" data-ng-if="item.isImgH == 0"> -->

          <div class="caption">
            <p>
              <ul>
                <li class="business-name">{{item.info.name}}</li>
                <li class="open-times">{{ getFormattedTime(item.openTime.opens) }} - {{ getFormattedTime(item.openTime.closes) }}</li>
                <li class="min-order"><strong>{{ MLanguages.MINIMUM_ORDER }}:</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.minimum  | number:DECIMAL.length | separator}}</li>
                <li class="delivery-price" data-ng-if="orderType == 1"><strong>{{ MLanguages.DELIVERY_V2 }}</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.deliveryCost*orderType | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="promotion"><strong>{{ MLanguages.MOBILE_BUSINESS_LIST_PROMOTION }}:</strong> {{item.promotion}}</li>
                <li class="distance" ng-if="SEARCH_BY_ADDRESS"><strong>{{ MLanguages.DISTANCE }}:</strong> {{ getFormattedDistance(item.distance) }}</li>
              </ul>
              <div class="rating" data-ng-if="ADDONS.order_reviews">
                <div class="base">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="points" style="width: {{getWidthRating(item.review.total!=undefined?item.review.total:item.reviews)}}px;">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div> <span data-ng-if="ADDONS.order_reviews">({{item.review.total!=undefined?item.review.total:item.reviews | number:DECIMAL.length | separator}} {{MLanguages.MOBILE_MENU_LIST_RATINGS}})</span>
            </p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
          </div>
        </div>
      </div>
	  <!-- BUSINESS CLOSED FEATURE NEW -->
      <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | filter : filterBusiness | orderBy:sortBy track by $index" data-ng-click="onRestaurantItem1(item)" data-ng-if="!getOpenClose(item.now, item.openTime, item.today, item.schedulemodify) && item.feature == 't' && ADDONS.custom_close==true">
        <div class="thumbnail" data-ng-class="{'closed': !getOpenClose(item.now, item.openTime, item.today, item.schedule)}">
          <div data-ng-if="ADDONS.featured_business" class="cartel featured">{{ MLanguages.BLIST_FEATURED }}</div>
          <div class="cartel">{{ MLanguages.BUSINESS_CLOSED }}</div>
          <div class="cartel preorder" data-ng-if="ADDONS.preorder">{{ MLanguages.PREORDER }}</div>
          <div class="header" style="background-image: url({{item.headerUrl}}), url({{dummyHeader}});">
            <div class="logo">
              <img data-ng-cache data-ng-src="{{item.logo}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
              <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
              <div class="open-time-wrapper">
                <div class="open-time">{{ getFormattedTime(item.openTime.opens) }}</div>
                <div class="sep"> - </div>
                <div class="close-time">{{ getFormattedTime(item.openTime.closes) }}</div>
              </div>
            </div>            
          </div>
          <!-- <img class="header" data-ng-cache data-ng-src="{{item.headerUrl}}" err-src="{{dummyHeader}}" data-ng-if="item.isImgH == 1">
          <img class="header" data-ng-src="{{dummyHeader}}" data-ng-if="item.isImgH == 0"> -->

          <div class="caption">
            <p>
              <ul>
                <li class="business-name">{{item.info.name}}</li>
                <li class="open-times">{{ getFormattedTime(item.openTime.opens) }} - {{ getFormattedTime(item.openTime.closes) }}</li>
                <li class="min-order"><strong>{{ MLanguages.MINIMUM_ORDER }}:</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.minimum  | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="delivery-price" data-ng-if="orderType == 1"><strong>{{ MLanguages.DELIVERY_V2 }}</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.deliveryCost*orderType | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="promotion"><strong>{{ MLanguages.MOBILE_BUSINESS_LIST_PROMOTION }}:</strong> {{item.promotion}}</li>
                <li class="distance" ng-if="SEARCH_BY_ADDRESS"><strong>{{ MLanguages.DISTANCE }}:</strong> {{ getFormattedDistance(item.distance) }}</li>
              </ul>
              <div class="rating" data-ng-if="ADDONS.order_reviews">
                <div class="base">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="points" style="width: {{getWidthRating(item.review.total!=undefined?item.review.total:item.reviews)}}px;">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div> <span data-ng-if="ADDONS.order_reviews">({{item.review.total!=undefined?item.review.total:item.reviews | number:DECIMAL.length | separator}} {{MLanguages.MOBILE_MENU_LIST_RATINGS}})</span>
            </p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
          </div>
        </div>
      </div>
      <!-- BUSINESS CLOSED NEW-->
      <div class="col-md-3 col-sm-4 col-xs-12" data-ng-repeat="item in filteredBusiness | filter : filterBusiness | orderBy:sortBy track by $index" data-ng-click="onRestaurantItem1(item)" data-ng-if="!getOpenClose(item.now, item.openTime, item.today, item.schedulemodify) && item.feature == 'f'&& ADDONS.custom_close==true">
        <div class="thumbnail" data-ng-class="{'closed': !getOpenClose(item.now, item.openTime, item.today, item.schedule)}">
          <div class="cartel">{{ MLanguages.BUSINESS_CLOSED }}</div>
          <div class="cartel preorder" data-ng-if="ADDONS.preorder">{{ MLanguages.PREORDER }}</div>
          <div class="header" style="background-image: url({{item.headerUrl}}), url({{dummyHeader}});">
            <div class="logo">
              <img data-ng-cache data-ng-src="{{item.logo}}" err-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="item.logo">
              <img data-ng-src="{{dummyLogo}}" class="mg-bottom-none" data-ng-if="!item.logo">
              <div class="open-time-wrapper">
                  <div class="open-time">{{ getFormattedTime(item.openTime.opens) }}</div>
                  <div class="sep"> - </div>
                  <div class="close-time">{{ getFormattedTime(item.openTime.closes) }}</div>
                </div>              
            </div>
          </div>
          <!-- <img class="header" data-ng-cache data-ng-src="{{item.headerUrl}}" err-src="{{dummyHeader}}" data-ng-if="item.isImgH == 1">
          <img class="header" data-ng-src="{{dummyHeader}}" data-ng-if="item.isImgH == 0"> -->

          <div class="caption">
            <p>
              <ul>
                <li class="business-name">{{item.info.name}}</li>
                <li class="open-times">{{ getFormattedTime(item.openTime.opens) }} - {{ getFormattedTime(item.openTime.closes) }}</li>
                <li class="min-order"><strong>{{ MLanguages.MINIMUM_ORDER }}:</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.minimum  | number:DECIMAL.length | separator}}</li>
                <li class="delivery-price" data-ng-if="orderType == 1"><strong>{{ MLanguages.DELIVERY_V2 }}</strong> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ item.deliveryCost*orderType | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></li>
                <li class="promotion"><strong>{{ MLanguages.MOBILE_BUSINESS_LIST_PROMOTION }}:</strong> {{item.promotion}}</li>
                <li class="distance" ng-if="SEARCH_BY_ADDRESS"><strong>{{ MLanguages.DISTANCE }}:</strong> {{ getFormattedDistance(item.distance) }}</li>
              </ul>
              <div class="rating" data-ng-if="ADDONS.order_reviews">
                <div class="base">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="points" style="width: {{getWidthRating(item.review.total!=undefined?item.review.total:item.reviews)}}px;">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div> <span data-ng-if="ADDONS.order_reviews">({{item.review.total!=undefined?item.review.total:item.reviews | number:DECIMAL.length | separator}} {{MLanguages.MOBILE_MENU_LIST_RATINGS}})</span>
            </p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
          </div>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>