  <div class="container-fluid full">
    <div class="col-md-12 full checkout-header no-print">
      <div class="row" style="
    position: relative;
    overflow: hidden;
    width: calc(100% + 30px);
    background: #d91d44;
">
<div class="container" style="
    /* background: #578fdd; */
    /* margin: 0; */
    /* padding: 40px 20px; */
    z-index: 1;
    padding-bottom: 100px;
    padding-top: 50px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: center; */
">
    <a href="https://barhero.co.nz/?utm_source=Food%20On%20Q%20Thank%20You%20Order%20Page&utm_medium=header_banner&utm_campaign=launching&utm_term=Launch&utm_content=Launch" target="_blank" style="
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
" class="">
    <div class="col-md-6">
<div><img src="https://www.foodonq.co.nz/img/custom/bar-hero-logo-comb.png" style="
    width: 60%;
    padding: 30px 0;
"></div>
    
</div>
<div class="col-md-6">
<img src="https://www.foodonq.co.nz/img/custom/bar-hero-tagline-4.png" style="
    width: 80%;
    padding: 30px 0;
">
</div></a>
    </div>
<img src="https://www.foodonq.co.nz/img/custom/curve.png" style="
    position: absolute;
    left: 0;
    bottom: -1px;
    width: calc(100% + 30px);
    height: 70px;
">

</div><h1 class="ng-binding" style="
    background: #578fdd;
    margin: 0;
    padding: 0 20px 60px 20px;
">  
        {{ MLanguages.CONFIRMATION_BANNER_HEADING }}<br>
        <small class="ng-binding">{{ MLanguages.CONFIRMATION_BANNER_DESCRIPTION }}</small>
      </h1>
      <div class="buttons">
        <button class="btn btn-primary ng-binding" data-ng-click="onGoMyProfile(1)">
          My orders
        </button>
        <!-- ngIf: create_order -->
        <!-- ngIf: create_order -->
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="checkout">
          <div class="header">
            <h2>
              <small>{{ MLanguages.EXPORT_ORDER_NUMBER }}</small><br>
              #{{placedOrderId}}
            </h2>
          </div>

          <div class="insta-share" style="margin-top: 20px; display: none;">
            <div class="insta-blue" style="padding: 18px; color: #F2F2F2;background-color: #6A96CB;font-size: 30px;font-style: normal;font-weight: bold;text-align: center;">Share your order on Instagram and tag us to get $9 off (free delivery!) your next order!</div>
            <div style="padding: 18px; font-size: 18px; text-align: center;">
              Simply post a picture of your order on your feed or Insta-story and make sure to @foodon_q (otherwise we won’t see it) and we will send you a $9 (free delivery!) voucher code via Instagram DM.
            </div>
            <div style="padding-top: 0; margin-bottom: 20px; text-align:center;">
              <img src="https://gallery.mailchimp.com/449ce27bb2439ec9751d5155d/images/4528c32d-60d0-4e52-811d-b8faed52c648.jpg" style="max-width:600px; width: 100%; padding-bottom: 0;" >
            </div>
          </div>

          <div class="facebook-share" style="padding: 20px 0; display: none;">
            <div id="food-share-btn" data-url="http://referrals.foodonq.com/restaurants/{{ curBusinessData.name.trim().replace(' ', '-')  | lowercase }}/?orderID={{ placedOrderId }}&customer_name={{ order_buyer.name.split(' ')[0] }}" style="width: 87%; display: block;padding:  10px;margin:  0 auto;text-align: center;background: #57dd6a;border-radius: 6px;box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);color: #fff;font-weight: 700;font-size: 1.2em; cursor:pointer;" data-order-id="{{ placedOrderId }}" data-email="{{order_buyer.email}}" data-name="{{order_buyer.name}}">CLICK HERE TO SHARE ON FACEBOOK & GET A $5 FOOD ON Q VOUCHER</div>
            <div style="text-align: center; width: 100%; margin: 10px; font-size: 1.2em;">Once you have successfully shared your order on your Facebook page, you will receive a $5 discount code via email within 12 hours</div>
          </div>
          
          <div class="content">
            <table>
              <tbody>
                <tr class="title">
                  <td>{{MLanguages.CONFIRMATION_FROM}}</td>
                  <td>{{MLanguages.CONFIRMATION_TO}}</td>
                </tr>
                <tr>
                  <td>{{curBusinessData.name}}</td>
                  <td>{{order_buyer.name}}</td>
                </tr>
                <tr>
                  <td>{{curBusinessData.businessaddress}}</td>
                  <td>
                    {{order_buyer.address}}
                    <span style="color: inherit;" data-ng-if="finalCheckout && finalCheckout.specialcomment">
                      <br>
                      {{finalCheckout.specialcomment}}
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>{{curBusinessData.tel}}</td>
                  <td>{{order_buyer.tel}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>{{order_buyer.email}}</td>
                </tr>
                <!--<tr>
                  <td colspan="2">{{finalCheckout.specialcomment}}</td>
                </tr>-->
              </tbody>
              
              <tbody class="price">
                <tr class="title">
                  <td colspan="2">{{MLanguages.MOBILE_FRONT_YOUR_ORDER}}</td>
                </tr>
                <tr data-ng-repeat="dish in curMyDishes">
                  <td>
                    <span>{{dish.quantity}}</span> <i class="fa fa-times"></i> {{dish.name}}<br>
                    <p data-ng-init="dishOptionsView = parseOptions(dish.options)">
                      <span class="omit" data-ng-repeat="(name, options) in dishOptionsView">
                        <strong>{{name}}</strong><br>
                        <span class="omit" data-ng-bind-html="parseSuboptions(options)"></span>
                      </span>
                      <p data-ng-if="dish.comments != ''" class="options">{{dish.comments}}</p>
                    </p>
                  </td>
                  <td><span class="omit" data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{(dish.total) | number:DECIMAL.length | separator}} <span class="omit" data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
                </tr>
              </tbody>
              <tbody class="price">
                <tr>
                  <td>{{ MLanguages.MOBILE_FRONT_SUB_TOTAL }}</td>
                  <td><span class="omit" data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ subTotalPrice | number:DECIMAL.length | separator }} <span class="omit" data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
                </tr>
                <tr data-ng-if="curBusiness.buyer.taxtype == '1' && curBusiness.tax != 0">
                  <td>{{ MLanguages.Tax_V2 }} {{curBusiness.taxType}}</td>
                  <td><span class="omit" data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ curBusiness.tax | number:DECIMAL.length | separator }} <span class="omit" data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
                </tr>
                <tr data-ng-if="curOrderType == 'delivery' && deliveryFee != 0">
                  <td>{{ MLanguages.MOBILE_CHECKOUT_DELIVERY_FEE }}</td>
                  <td><span class="omit" data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ deliveryFee | number:DECIMAL.length | separator}} <span class="omit" data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
                </tr>
                <tr data-ng-if="curOrderType == 'delivery'">
                  <td>{{ MLanguages.MOBILE_FRONT_DRIVER_TIP }}</td>
                  <td><span class="omit" data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{data.driveTips | number:DECIMAL.length | separator}} <span class="omit" data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
                </tr>
                <tr data-ng-if="curBusiness.discountprice > 0">
                  <td>{{ MLanguages.APP_DISCOUNT }} (<span class="omit" data-ng-if="curBusiness.discounttype == 2">-{{c_unit}}</span>{{curBusiness.discountrate}}<span class="omit" data-ng-if="curBusiness.discounttype == 1">%</span>)</td>
                  <td>-<span class="omit" data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{curBusiness.discountprice | number:DECIMAL.length | separator}} <span class="omit" data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
                </tr>
                <tr data-ng-if="curBusiness.servicefeeTotal != 0">
                  <td>{{ MLanguages.SERVICE_FEE_V2 }} ({{ curBusiness.servicefee }}%)</td>
                  <td><span class="omit" data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{curBusiness.servicefeeTotal | number:DECIMAL.length | separator}} <span class="omit" data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
                </tr>
              </tbody>
              <tbody class="price">
                <tr class="title">
                  <td>{{ MLanguages.MOBILE_CHECKOUT_TOTAL }}</td>
                  <td><span><span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{orderTotal | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span></td>
                </tr>
              </tbody>
              <tbody class="footer">
                <tr>
                  <td colspan="2">
                    {{MLanguages.CONFIRMATION_PAYMENT_METHOD}}: {{ MLanguages[paymentModel.val] }}<br>
                    {{MLanguages.CONFIRMATION_DELIVERY_METHOD}}: {{ MLanguages[curOrderType.toUpperCase()] }}
                  </td>
                </tr>
              </tbody>
            </table>
            <center id="addthis_icons">
              <sn-addthis-toolbox class="addthis_inline_share_toolbox">
              </sn-addthis-toolbox>
            <!-- </div> -->
            </center>
          </div>
        </div>
    </div>
  </div>
  <!-- <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58f7669ee41f8041"></script>  -->
