  <div class="container-fluid full">
    <div class="col-lg-9 col-md-8 col-sm-8 full form">
      <form class="form-horizontal">
        <div class="form-group" select-content>
          <label class="col-sm-3 control-label" data-ng-if="buyerInfo.deliveryType == 'delivery'">{{ MLanguages.DELIVERYA_V21 }}</label>
          <label class="col-sm-3 control-label" data-ng-if="buyerInfo.deliveryType != 'delivery'">{{ MLanguages.EMAIL_TEMPLATE_USER_DETAILS }}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="{{ MLanguages.MOBILE_CHECKOUT_NAME }}" data-ng-model="order_buyer.name" data-ng-if="infoFields['Name'].status">
            <input type="text" class="form-control" placeholder="{{ MLanguages.MOBILE_CHECKOUT_LASTNAME }}" data-ng-model="order_buyer.lastname2" data-ng-if="infoFields['Last Name'].status">
            <input type="email" class="form-control" placeholder="{{ MLanguages.MOBILE_CHECKOUT__EMAIL }}" data-ng-model="order_buyer.email" data-ng-if="order_buyer.id != '-1' || infoFields['Email'].status" data-ng-change="order_buyer.email = order_buyer.email.toLowerCase()">
            <!-- <input type="text" class="form-control" placeholder="{{ MLanguages.CITY }} *" data-ng-model="order_buyer.city" data-ng-if="infoFields['City'].status"> -->
            <select class="form-control" data-ng-model="order_buyer.city" data-ng-if="infoFields['City'].status" ng-change="selectCity(order_buyer.city)">
                <option value="" data-ng-selected="!order_buyer.city || order_buyer.city == ''">
                    {{ MLanguages.FRONT_SELECT_CITY }}
                </option>
                <option data-ng-repeat="item in citylists" value="{{item.id}}" data-ng-selected="item.id == order_buyer.city">
                {{item.name}}
                </option>
            </select>

            <select class="form-control" data-ng-model="order_buyer.neighbour" data-ng-if="infoFields['Area / Neighborhood'].status">
                <option value="" data-ng-selected="!order_buyer.neighbour || order_buyer.neighbour == ''">
                    {{ MLanguages.FRONT_SELECT_NEIBORHOOD }}
                </option>
                <option data-ng-repeat="item in neighbour" value="{{item.id}}" data-ng-selected="item.id == order_buyer.neighbour">
                {{item.name}}
                </option>
            </select>

            <!-- <input type="text" class="form-control" placeholder="{{ MLanguages.MOBILE_CHECKOUT_NEIGHBOURHOOD }}" data-ng-model="order_buyer.neighbour" data-ng-if="infoFields['Area / Neighborhood'].status"> -->
            <input type="text" class="form-control" placeholder="{{ MLanguages.MOBILE_CHECKOUT_FULL_ADDRESS }}" data-ng-model="order_buyer.address" googleplace data-ng-click="onAutoCompleteAddress()" data-ng-focus="showCheckAddress()" data-ng-search-disabled="true"  data-ng-autocomplete-disabled="{{WEB_ADDONS.check_address_checkout}}" data-ng-if="infoFields['Full Address'].status" autocomplete="off">
            <input type="text" class="form-control" placeholder="{{ MLanguages.MOBILE_ZIP_POSTAL_CODE }}" data-ng-model="order_buyer.zip" data-ng-if="infoFields['Zipcode'].status">
            <div class="special-instructions">
              <div class="tip"><strong>Phone Number:</strong> Do you have an overseas phone number? Please put your country code.</div>
              <input type="tel" class="form-control" placeholder="{{ MLanguages.MOBILE_FRONT_PHONE_NUMBER }}" data-ng-model="order_buyer.tel" data-ng-if="infoFields['Phone'].status">
            </div>
<!--            <input type="text" class="form-control" placeholder="Receive SMS" data-ng-model="order_buyer.receive_sms" data-ng-if="infoFields['Receive SMS'].status">-->
<!--            <input type="text" class="form-control" placeholder="Takeout Date" data-ng-model="order_buyer.takeout_date" data-ng-if="infoFields['Takeout Date'].status">-->
            <div class="special-instructions">
              <div class="tip"><strong>Special Instructions:</strong> Please leave as many details about your address as possible. This will help speed up your delivery. </div>
              <textarea class="form-control" rows="2" placeholder="{{ MLanguages.MOBILE_FRONT_ORDER_COMMENT_HINT }}" data-ng-model="finalCheckout.specialcomment" data-ng-if="infoFields['APT/Suit'].status"></textarea>
            </div>
<!--            <textarea class="form-control" rows="2" placeholder="Where did you find about us" data-ng-model="finalCheckout.where_find_us" data-ng-if="infoFields['Where did you find about us'].status"></textarea>-->
            <input type="text" class="form-control" placeholder="{{ MLanguages.MOBILE_CHECKOUT_DISCOUNT_COUPON }}" data-ng-model="order_buyer.coupon" data-ng-change="discountcodeCheck()" data-ng-readonly="order_buyer.couponstatus" data-ng-if="curBusiness.discountoffer!=true && ADDONS.discount_code && infoFields['Discount Coupon'].status" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" ng-if="buyerInfo.deliveryType == 'delivery'">{{ MLanguages.MENU_LIST_DELIVERY_TIME }}</label>
          <label class="col-sm-3 control-label" ng-if="buyerInfo.deliveryType == 'pickup'">{{ MLanguages.ESTIMATED_PICKUP_TIME }}</label>
          <div class="col-sm-9">
            <p data-ng-if="!ADDONS.preorder">{{ MLanguages.MOBILE_CHECKOUT_ASAP }}</p>
            <!-- <p data-ng-if="preorder.menu"> -->
              <!-- {{ preorder }} -->
              <div class="selects" data-ng-if="preorder.menu && ADDONS.preorder && !checkASAP" select-content>
                <select class="form-control s50" data-ng-model="preorder.date" data-ng-change="changePreorderDatetime(true)">
                  <option data-ng-repeat="day in preorder.days" value="{{day.value}}" data-ng-selected="preorder.date == day.value">{{day.text}}</option>
                </select><!--
                --><select class="form-control s50" data-ng-model="preorder.time" data-ng-change="changePreorderDatetime()">
                  <option data-ng-repeat="time in preorder.times" value="{{time.value}}" data-ng-selected="preorder.time == time.value">{{time.text}}</option>
                </select>
              </div>
              <div class="selects" data-ng-if="!preorder.menu && ADDONS.preorder && !checkASAP" select-content>
                <select class="form-control s50" data-ng-model="wopreorder.date" data-ng-change="wopreorder.time = '';changeWopreorderDatetime(true)">
                  <option value="">{{ MLanguages.PREORDER_STEP_2_DATE }}</option>
                  <option data-ng-repeat="day in wopreorder.dates" value="{{day.value}}" data-ng-selected="wopreorder.date == day.value">{{day.text}}</option>
                </select><!--
                --><select class="form-control s50" data-ng-model="wopreorder.time" data-ng-change="changeWopreorderDatetime()">
                  <option value="">{{ MLanguages.PREORDER_STEP_2_TIME }}</option>
                  <option data-ng-repeat="time in wopreorder.times" value="{{time.value}}" data-ng-selected="wopreorder.time == time.value">{{time.text}}</option>
                </select>
              </div>
              <div style="margin-top: 7px;" data-ng-if="ADDONS.preorder">
                <input id="checkasap" type="checkbox" style="height: 14px;" data-ng-model="checkASAP" data-ng-change="changeCheckASAP(checkASAP)"> 
                <label for="checkasap" ng-if="buyerInfo.deliveryType == 'delivery'">{{ MLanguages.MOBILE_CHECKOUT_ASAP }}<span data-ng-if="dateASAP != ''"> ({{dateASAP}} + {{ MLanguages.ASAP_DELIVERY_TIME }})</span></label> <label for="checkasap" ng-if="buyerInfo.deliveryType == 'pickup'">{{ MLanguages.MOBILE_CHECKOUT_ASAP }}<span data-ng-if="dateASAP != ''"> ({{dateASAP}} + {{ MLanguages.ASAP_PICKUP_TIME }})</span></label>
              </div>
            <!-- </p> -->
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{ MLanguages.MOBILE_FRONT_PAYMENT_METHOD }}</label>
          <div class="col-sm-9 modal popup inline">
            <p class="input" data-ng-click="onPaymentPopup()" data-ng-if="!PAYMENT_OPTION_INLINE">{{ paymentModel.model }} <i class="fa fa-angle-down" aria-hidden="true"></i></p>
            <div class="popup-mode" data-ng-if="PAYMENT_OPTION_INLINE">
              <ion-radio class="radio-item" data-ng-if="(item.val != 'stripe' && item.val != 'paypal' && item.val != 'paypaladaptive' && item.val != 'authorize' && item.val != 'stripedirect' && item.val != 'paypal_express' && item.val != 'stripeconnect' && item.val != 'striperedirect') || (item.val == 'stripe' && ADDONS.stripe_payment && user_login) || (item.val == 'paypal' && ADDONS.paypal_payment) || (item.val == 'paypaladaptive' && ADDONS.paypal_adaptive_payment) || (item.val == 'authorize' && ADDONS.authorize_payment) || (item.val == 'stripedirect' && ADDONS.stripedirect_payment) || (item.val == 'paypal_express' && ADDONS.paypal_express_payment) || (item.val == 'stripeconnect' && ADDONS.stripeconnect_payment && user_login) || (item.val == 'striperedirect' && ADDONS.striperedirect_payment.enable && user_login)" data-ng-repeat="item in payment"
                         data-ng-value="item.name"
                         name = "{{item.id}}"
                         data-ng-model="paymentModel.model"
                         data-ng-click="onClickMethod(item)">
                  <div class="row">
                      <span class="float-left dynamic-radio"></span>
                      <p class="float-left">{{ item.name }}</p>
                      <p class="float-right icon"><img data-ng-cache data-ng-src={{item.img}}></p>
                  </div>
              </ion-radio>
            </div>
          </div>
        </div>
        <div class="form-group"  data-ng-if="infoFields['Tip For The Driver'].status && buyerInfo.deliveryType == 'delivery'">
          <label class="col-sm-3 control-label">{{ MLanguages.MOBILE_FRONT_DRIVER_TIP }}: <span><span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{data.driveTips}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span></label>
          <div class="col-sm-9">
            <div class="diver-type checkout">
                <!--<div class="row font-mid perc-style">
                    <div class="col-20">0%</div>
                    <div class="col-20">10%</div>
                    <div class="col-20">15%</div>
                    <div class="col-20">20%</div>
                    <div class="col-20">25%</div>
                </div>-->
                <div class="button-bar border-none-b" >
                    <ion-radio data-ng-repeat="item in driverTipsList"
                               data-ng-value="item.value"
                               data-ng-model="data.driveTips" data-ng-click="changedRadioValue()" class="h-radio-bar">
                               <span class="float-left dynamic-radio"></span>
                               <span class="text-radio">{{item.text}}</span>
                    </ion-radio>
                </div>

                <div class="color-font-placeholder pd-top-4">{{ MLanguages.MOBILE_FRONT_GOES_TO_YOUR_DRIVER }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 full cart">
      <div class="order">
        <h3>{{MLanguages.Your_order_V2}}</h3>
        <div data-ng-if="curMyDishes.length == 0">
        <img src="../css/web1/img/empty-cart.png">
        <p>{{MLanguages.YOUR_ORDER_IS_EMPTY}}</p>
        </div>
        {{dishe.total}}
        <div data-ng-if="curMyDishes.length != 0 && orderTotal">
          {{HeaderTitle}}<br>
          <!--{{ MLanguages.MINIMUM_ORDER }}: {{ item.minimum  | number:DECIMAL.length | separator}}<br>-->
          <!--<button class="btn btn-primary" data-ng-click="onFinalCheckOut()">
              {{ MLanguages.MOBILE_FRONT_CHECKOUT }}
          </button>-->
          <table>
            <tr data-ng-repeat="dishe in curMyDishes track by $index">
              <td class="highlighted">{{dishe.quantity}}</td>
              <td colspan="2">
                {{dishe.name}}<br>
                <!--<p class="options" data-ng-init="dishOptionsView = parseOptions(dishe.options)">
                    <span data-ng-repeat="(name, options) in dishOptionsView">
                        <strong>{{name}}</strong><br>
                        <span data-ng-bind-html="parseSuboptions(options)"></span>
                    </span>
                </p>-->
                <p class="options" data-ng-bind-html="dishe.strOptions"></p>
                <p class="options" data-ng-if="dishe.comments != ''">{{dishe.comments}}</p>
              </td>
              <!--<td>
                <i class="fa fa-pencil edit" aria-hidden="true" data-ng-click="onClickEdit(dishe)"></i>
                <i class="fa fa-times remove" aria-hidden="true" data-ng-click="onClickRemove(dishe)"></i>
              </td>-->
              <td><span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.total | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="DRIVER_TIP && buyerInfo.deliveryType == 'delivery'">
              <td colspan="3">{{ MLanguages.MOBILE_FRONT_DRIVER_TIP }}</td>
              <td><span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{data.driveTips | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="buyerInfo.deliveryType == 'delivery' && deliveryFee != 0">
              <td colspan="3">{{ MLanguages.MOBILE_CHECKOUT_DELIVERY_FEE }}</td>
              <td><span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{deliveryFee | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="curBusinessInfo.taxType == '1' && curBusiness.tax != 0">
              <td colspan="3">{{ MLanguages.Tax_V2 }}</td>
              <td><span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ curBusiness.tax | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="curBusiness.servicefeeTotal != 0">
              <td colspan="3">{{ MLanguages.SERVICE_FEE_V2 }} ({{ curBusiness.servicefee }}%)</td>
              <td><span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{curBusiness.servicefeeTotal | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="curBusiness.discountprice > 0">
              <td colspan="3">{{ MLanguages.APP_DISCOUNT }} (<span data-ng-if="curBusiness.discounttype == 2">{{c_unit}}</span>{{curBusiness.discountrate}} <span data-ng-if="curBusiness.discounttype == 1">%</span>)</td>
              <td>-<span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{curBusiness.discountprice | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr>
              <td>{{order_qty}}</td>
              <td>
                {{ MLanguages.TRACKORDER_TOTAL_VALUE }}
              </td>
              <td>
              </td>
              <td><span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{orderTotal | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
          </table>
          <div id="paypal-button-container" style="margin-top: 15px;" ng-if="isPaypal"></div>

          <div id="confirm" style="display: none;" ng-if="isPaypal">
            <button id="confirmButton" class="btn btn-primary" data-ng-disabled="disableConfirmPayment">{{ MLanguages.COMPLETE_PAYMENT }}</button>
          </div>
          <button class="btn btn-primary" data-ng-click="placeOrderNow()" data-ng-if="!isPaypal">
              {{ MLanguages.MOBILE_BUSINESS_LIST_PLACE_ORDER }}
          </button>
        </div>
      </div>
    </div>
  </div>
