  <div class="container-fluid full" data-ng-controller="detailMenuCtrl">
    <div class="col-xs-12 col-lg-9 col-md-8 col-sm-8 full business">
      <div class="cover" style="background-image: url({{HeaderUrl}}), url({{dummyHeader}});">
        <div id="btn_backlink" class="btn btn-primary">&larr; Back To Restaurants</div>
        <!-- <img class="principal" data-ng-cache data-ng-src="{{HeaderUrl}}" err-src="{{dummyHeader}}" data-ng-if="item.isImgH == 1">
        <img class="principal" data-ng-src="{{dummyHeader}}" data-ng-if="item.isImgH == 0"> -->

        <img class="logo preload" data-ng-if="!dummyLogo">
        <img class="logo" data-ng-cache data-ng-src="{{LogoUrl}}" err-src="{{dummyLogo}}" data-ng-if="item.isImg == 1">
        <img class="logo" data-ng-src="{{dummyLogo}}" data-ng-if="item.isImg == 0">
      </div>
      <div class="container-fluid business-content">
        <h3 class="title preload" data-ng-if="HeaderTitle == undefined">Title</h3>
        <h3 class="title" data-ng-if="HeaderTitle != undefined">{{HeaderTitle}} <i class="fa fa-info-circle btn-more-info" aria-hidden="true" data-ng-click="moreInfo()" data-ng-if="ADDONS.business_enhacements"></i>
          <div class="preorder" data-ng-if="ADDONS.preorder && preordering">
            <button class="btn btn-primary btn-sm" data-ng-click="openPreorder(item.restData)">{{ MLanguages.PREORDER }}</button>
            <div class="current" data-ng-if="preorder.menu">{{ preorder.strtime }} <i class="fa fa-times-circle" data-ng-click="removePreorder()"></i></div>
          </div>
        </h3>
        <!-- <p class="description preload" data-ng-if="item.restData == undefined">fff</p> -->
        <p class="description preload" data-ng-if="item.restData == undefined">fff</p>
        <p class="description" data-ng-hide="item.restData == undefined">
          <!--{{ getFormattedTime(item.openTime.opens) }} - {{ getFormattedTime(item.openTime.closes) }}<br>-->
          <div class="rating" data-ng-if="ADDONS.order_reviews && item.restData.review.total">
            <div class="base">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="points" style="width: {{getWidthRating(item.restData.review.total*1)}}px;">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </div>
          </div> <span data-ng-if="ADDONS.order_reviews && item.restData.review.total">({{item.restData.review.total | number:DECIMAL.length | separator}} {{MLanguages.MOBILE_MENU_LIST_RATINGS}})</span>
        </p>
      </div>
      <div>
        <div class="offset-categories">
          <div id="categories-tabss" data-ng-if="resMenulist == undefined">
            <ul class="nav nav-tabs preload">
              <li>
                <a class="active" href="#"><span>Category</span></a>
              </li>
              <li>
                <a href="#"><span>Category</span></a>
              </li>
              <li>
                <a href="#"><span>Category</span></a>
              </li>
              <li>
                <a href="#"><span>Category</span></a>
              </li>
            </ul>
          </div>
          <div id="categories-tabs" data-ng-if="resMenulist">
            <ul class="nav nav-tabs">
              <li data-ng-if="WEB_ADDONS.all_categories && resMenulist">
                <a href="#" data-ng-class="{'active': filterCategory == ''}" data-ng-click="selectCategory($event, '')">{{MLanguages.MOBILE_MENU_LIST_ALL}}</a>
              </li>
              <li data-ng-if="showFeaturedCategory && resMenulist && ADDONS.featured_products">
                <a href="#" data-ng-class="{'active': filterCategory == 'featured'}" data-ng-click="selectCategory($event, 'featured')">{{ MLanguages.BLIST_FEATURED }}</a>
              </li>
              <li data-ng-repeat="category in resMenulist | orderBy:'rank*1'" data-ng-if="$index+1 <= curNumTab">
                <a href="#" data-ng-class="{'active': filterCategory == category.id}" data-ng-click="selectCategory($event, category.id)">{{category.name}}</a>
              </li>
              <!-- data-ng-if="curNumTab < resMenulist.length"-->
              <li class="dropdown" data-ng-if="showMore">
                <a id="dropdownMenu1" data-ng-class="{'active': isMore }" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{MLanguages.MENU_LIST_MORE}}
                  <span class="caret"></span>
                </a>
                <ul id="dropdown-more" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                  <li data-ng-repeat="category in resMenulist | orderBy:'rank*1'" data-ng-if="$index+1 > curNumTab" data-ng-class="{'active': filterCategory == category.id}">
                    <a href="#" data-ng-click="selectCategory($event, category.id, true)">{{category.name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="form-group product-search" data-ng-if="ADDONS.product_search">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" data-ng-model="filterProduct" data-ng-change="changeFilterProduct(filterProduct)" placeholder="{{ MLanguages.MOBILE_FRONT_VISUALS_SEARCH }}">
              </div>
            </div>
          </div>
        </div>
        <div class="dishes">
          <!-- Begin Preload -->
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.dishes == undefined || filterCategory == undefined" class="col-md-6 col-sm-6 col-xs-12">
            <div class="dishe preload">
              <strong>Name of product</strong>
              <p>Description of product</p>
              <span class="price"><span>$ 0.00</span></span>
            </div>
          </div>
          <div data-ng-if="item.info.categories.length == 0 || item.info.dishes.length == 0" class="not-menu col-md-12">
            <div class="dishe">
              {{MLanguages.SORRY_NOT_HAVE_MENU}}
            </div>
          </div>
          <!-- End Preload -->
          <div data-ng-if="filterCategory && filterCategory == 'featured' && dishe.feature == 't'" class="col-md-6 col-sm-6 col-xs-12" data-ng-repeat="dishe in item.info.dishes | orderBy:'name'" data-ng-click="onProductOption(dishe)">
            <div class="dishe" data-ng-class="{'compressed': !ADDONS.menu_image_enhacements && !ADDONS.menu_description_enhacements, 'sold_out': ADDONS.inventory && dishe.stock_qty == 0}">
              <div class="sold_out" data-ng-if="ADDONS.inventory && dishe.stock_qty == 0">{{MLanguages.SOLD_OUT}}</div>
              <img data-ng-if="ADDONS.menu_image_enhacements && dishe.img!=''" data-ng-src="{{dishe.img}}" on-error-src>
              <strong><span class="price" data-ng-if="dishe.price > 0">  <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span>{{dishe.name}}</strong>
              <p data-ng-if="ADDONS.menu_description_enhacements && dishe.description!=''">{{dishe.description}}</p>
              <!-- <span class="price"> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price}}</span> -->
            </div>
          </div>
          <div data-ng-if="filterCategory && filterCategory != ''" class="col-md-6 col-sm-6 col-xs-12" data-ng-repeat="dishe in item.info.dishes | filter:{category:filterCategory} | orderBy:'name'" data-ng-click="onProductOption(dishe)">
            <div class="dishe" data-ng-class="{'compressed': !ADDONS.menu_image_enhacements && !ADDONS.menu_description_enhacements, 'sold_out': ADDONS.inventory && dishe.stock_qty == 0}">
              <div class="sold_out" data-ng-if="ADDONS.inventory && dishe.stock_qty == 0">{{MLanguages.SOLD_OUT}}</div>
              <img data-ng-if="ADDONS.menu_image_enhacements && dishe.img!=''" data-ng-src="{{dishe.img}}" on-error-src>
              <strong><span class="price" data-ng-if="dishe.price > 0">  <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span>{{dishe.name}}</strong>
              <p data-ng-if="ADDONS.menu_description_enhacements && dishe.description!=''">{{dishe.description}}</p>
              <!-- <span class="price"> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price}}</span> -->
            </div>
          </div>
          <div style="clear: both;"></div>
          <div data-ng-if="filterCategory != undefined && ADDONS.featured_products && filterCategory == '' && showFeaturedCategory">
            <div class="title-category">{{ MLanguages.BLIST_FEATURED }}</div>
            <div class="col-md-6 col-sm-6 col-xs-12" data-ng-repeat="dishe in item.info.dishes | orderBy:'name'" data-ng-if="dishe.feature == 't'" data-ng-click="onProductOption(dishe)">
              <div class="dishe" data-ng-class="{'compressed': !ADDONS.menu_image_enhacements && !ADDONS.menu_description_enhacements, 'sold_out': ADDONS.inventory && dishe.stock_qty == 0}">
                <div class="sold_out" data-ng-if="ADDONS.inventory && dishe.stock_qty == 0">{{MLanguages.SOLD_OUT}}</div>
                <img data-ng-if="ADDONS.menu_image_enhacements && dishe.img!=''" data-ng-src="{{dishe.img}}" on-error-src>
                <strong><span class="price" data-ng-if="dishe.price > 0">  <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span>{{dishe.name}}</strong>
                <p data-ng-if="ADDONS.menu_description_enhacements && dishe.description!=''">{{dishe.description}}</p>
                <!-- <span class="price"> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}  <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span> {{dishe.price}}</span> -->
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div data-ng-if="filterCategory != undefined && filterCategory == '' && getLength(category, item.info.dishes) != 0" data-ng-repeat="category in item.info.categories | orderBy:'rank*1'">
            <div class="title-category">{{category.name}}</div>
            <div class="col-md-6 col-sm-6 col-xs-12" data-ng-repeat="dishe in item.info.dishes | filter:{category:category.id} | orderBy:'name'" data-ng-click="onProductOption(dishe)" data-ng-if="dishe.name.toLowerCase().indexOf(filterProduct.toLowerCase()) != -1 || dishe.description.toLowerCase().indexOf(filterProduct.toLowerCase()) != -1">
              <div class="dishe" data-ng-class="{'compressed': !ADDONS.menu_image_enhacements && !ADDONS.menu_description_enhacements, 'sold_out': ADDONS.inventory && dishe.stock_qty == 0}">
                <div class="sold_out" data-ng-if="ADDONS.inventory && dishe.stock_qty == 0">{{MLanguages.SOLD_OUT}}</div>
                <img data-ng-if="ADDONS.menu_image_enhacements && dishe.img!=''" data-ng-src="{{dishe.img}}" on-error-src>
                <strong><span class="price" data-ng-if="dishe.price > 0">  <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span>{{dishe.name}}</strong>
                <p data-ng-if="ADDONS.menu_description_enhacements && dishe.description!=''">{{dishe.description}}</p>
                <!-- <span class="price"> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span> -->
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
          <div data-ng-if="filterCategory && filterCategory == 'filter' && (dishe.name.toLowerCase().indexOf(filterProduct.toLowerCase()) != -1 || dishe.description.toLowerCase().indexOf(filterProduct.toLowerCase()) != -1)" class="col-md-6 col-sm-6 col-xs-12" data-ng-repeat="dishe in item.info.dishes | orderBy:'name'" data-ng-click="onProductOption(dishe)">
            <div class="dishe" data-ng-class="{'compressed': !ADDONS.menu_image_enhacements && !ADDONS.menu_description_enhacements, 'sold_out': ADDONS.inventory && dishe.stock_qty == 0}">
              <div class="sold_out" data-ng-if="ADDONS.inventory && dishe.stock_qty == 0">{{MLanguages.SOLD_OUT}}</div>
              <img data-ng-if="ADDONS.menu_image_enhacements && dishe.img!=''" data-ng-src="{{dishe.img}}" on-error-src>
              <strong><span class="price" data-ng-if="dishe.price > 0">  <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></span>{{dishe.name}}</strong>
              <p data-ng-if="ADDONS.menu_description_enhacements && dishe.description!=''">{{dishe.description}}</p>
              <!-- <span class="price"> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.price}}</span> -->
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 full cart col-md-4 col-sm-4 col-xs-12">
      <div id="cart-stiky" class="order" data-ng-controller="checkOutCtrl">
        <div class="go-cart" ng-click="goToCart()" data-ng-if="dishes.length > 0 && item.info.categories.length > 0">{{MLanguages.GO_TO_CART}} <div class="value"> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{calcTotalPrice-discount | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></div></div>
        <button class="btn btn-gray btn-sm" data-ng-if="create_order" class="btn btn-primary" data-ng-click="newCreateOrder()">{{MLanguages.MOBILE_NEW_ORDER}}</button>
        <h3>{{MLanguages.Your_order_V2}}</h3>
        <div data-ng-if="!dishes || dishes.length == 0 || item.info.categories.length == 0">
        <img src="../css/web1/img/empty-cart.png">
        <p>{{MLanguages.YOUR_ORDER_IS_EMPTY}}</p>
        </div>
        <div data-ng-if="dishes.length > 0 && item.info.categories.length > 0">
          {{HeaderTitle}}<br>
          {{ MLanguages.MINIMUM_ORDER }}:  <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ curBusiness.restData.minium | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span><br>
          <button class="btn btn-primary" data-ng-click="onFinalCheckOut()" data-ng-if="parseDataFloat(curBusiness.restData.minium) <= subTotal">
              {{ MLanguages.MOBILE_FRONT_CHECKOUT }}
          </button>
          <button class="btn btn-default bottom-wrap" data-ng-if="parseDataFloat(curBusiness.restData.minium) > subTotal">
              {{ MLanguages.MINIMUM_ORDER }}:  <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{ curBusiness.restData.minium | number:DECIMAL.length | separator }} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span>
          </button>
          <table>
            <tr data-ng-repeat="dishe in dishes track by $index">
              <td class="highlighted">{{dishe.quantity}}</td>
              <td>
                {{dishe.name}}<br>
                <!--<p class="options" data-ng-init="dishOptionsView = parseOptions(dishe.options)">
                    <span data-ng-repeat="(name, options) in dishOptionsView">
                        <strong>{{name}}</strong><br>
                        <span data-ng-bind-html="parseSuboptions(options)"></span>
                    </span>
                </p>-->
                <p class="options" data-ng-bind-html="dishe.strOptions"></p>
                <p class="options" data-ng-if="dishe.comments != ''">{{dishe.comments}}</p>
              </td>
              <td>
                <i class="fa fa-pencil edit" aria-hidden="true" data-ng-click="onClickEdit(dishe)" data-ng-if="ADDONS.cart_enhacements"></i>
                <i class="fa fa-times remove" aria-hidden="true" data-ng-click="onClickRemove(dishe)" data-ng-if="ADDONS.cart_enhacements"></i>
              </td>
              <td> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{dishe.total | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="myOrder.type == 'delivery' && deliveryFee != 0">
              <td colspan="3">{{ MLanguages.MOBILE_CHECKOUT_DELIVERY_FEE }}</td>
              <td> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{deliveryFee | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="curBusinessInfo.taxType == '1' && taxPrice != 0">
              <td colspan="3">{{ MLanguages.Tax_V2 }} ({{ curBusinessInfo.tax }}%)</td>
              <td> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{taxPrice | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="serviceFee != 0">
              <td colspan="3">{{ MLanguages.SERVICE_FEE_V2 }} ({{ curBusinessInfo.serviceFee }}%)</td>
              <td> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{serviceFee | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr class="fees" data-ng-if="ADDONS.discount_offer && discount > 0">
              <td colspan="3">{{ MLanguages.APP_DISCOUNT }} (<span data-ng-if="discounttype=='2'"> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span></span>{{discountprice}}<span data-ng-if="discounttype=='1'">%</span>)</td>
              <td>- <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{discount | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
            <tr>
              <td>{{order_qty}}</td>
              <td>
                {{ MLanguages.TRACKORDER_TOTAL_VALUE }}
              </td>
              <td>
              </td>
              <td> <span data-ng-if="CURRENCY_POSITION == 'left'">{{c_unit}}</span> {{calcTotalPrice-discount | number:DECIMAL.length | separator}} <span data-ng-if="CURRENCY_POSITION == 'right'">{{c_unit}}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
