<div class="container-flex">
  <div class="full affiliate-header">
      <h1 class="">
          Food On Q Affilliates
      </h1>
  </div>

  <div class="container" style="padding: 60px 0;">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="affiliate-image-wrap">
          <img src="../../img/custom/affiliates-snowrental.jpg" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="affilate-padding">
            <h2>Snow Rental</h2>
            <p>Established in 2000, we are one of the oldest ski rental shops in Queenstown and have a wealth of local knowledge behind us. All of our equipment is purchased specifically for New Zealand mountain conditions which are unique to the rest of the world.</p>
            <p>We don’t believe that ‘one size fits all’, so we offer three different levels of equipment to suit all budgets, abilities and riding styles. We also have helmets, goggles, ski clothing, gloves, socks, GoPro’s and sunscreen - we’ve got you covered, literally!</p>
            <p>We use customised rental software taking the guesswork out of setting up ski bindings. This ensures a safer, more enjoyable experience on the mountain as setup is personalised to you and based on a combination of factors such as your height, weight, age, ability and boot length.</p>
            <p>We offer flexible hire, so you can take days off during your hire period or swap between skis and snowboards.></p>
            <p>Advice on local resorts thrown in for free and if you want to pre-purchase lift tickets or need transport to the ski fields, we can help you with that too.</p>
            <a href="https://www.snowrental.co.nz" class="activated" style="margin-top: 30px;" target="_blank">
              <div class="btn btn-primary hidden-sm hidden-xs">
                Visit Snow Rental
              </div>
            </a>
          </div>
      </div>
  </div>

  <div class="container" style="padding: 60px 0;">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="affiliate-image-wrap">
          <img src="../../img/custom/affiliates-browns.jpg" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="affilate-padding">
            <h2>Browns</h2>
            <p>Rental/Workshop: 4 Brecon Street - 03 442 4005</p>
            <p>Retail Store: 39 Shotover St - 03 442 4003</p>
            <p>At Browns Ski Shop we have a single focus amongst our staff – to make our customers’ winter dreams come true & help them have the BEST winter holiday EVER.</p>
            <p>Our premise is to help people get the most out of their winter holiday & there is just about nothing that we will not do to help customers experience this fun pastime that we are all so passionate about.</p>
            <p>Queenstown has long been the home of alpine skiing in New Zealand. Due to the extensive terrain, spectacular views and international atmosphere, winter sports have boomed here and the Browns’ name has always been a part of this.</p>
            <a href="https://www.brownsnz.com" class="activated" style="margin-top: 30px;" target="_blank">
              <div class="btn btn-primary hidden-sm hidden-xs">
                Visit Browns
              </div>
            </a>
        </div>
      </div>
  </div>

  <div class="container" style="padding: 60px 0;">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="affiliate-image-wrap">
          <img src="../../img/custom/affiliates-mountain.jpg" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="affilate-padding">
            <h2>Mountain Warehouse</h2>
            <p>Store in Queenstown open till 9pm, with everything you will need to get yourself Mountain ready- Cheaper prices in store if you sign up to a discount card for free!</p>
            <a href="https://www.mountainwarehouse.com/nz/" class="activated" style="margin-top: 30px;" target="_blank">
              <div class="btn btn-primary hidden-sm hidden-xs">
                Visit Mountain Warehouse
              </div>
            </a>
        </div>
      </div>
  </div>

  <div class="container" style="padding: 60px 0;">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="affiliate-image-wrap">
          <img src="../../img/custom/affiliates-snowpro.jpg" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="affilate-padding">
            <h2>SnoPro</h2>
            <p>BOOK YOUR GEAR: Select your ski rental gear and delivery time. Call us or book simply and fast online. WE COME TO YOU: Ski rental custom fitted in the comfort of your accommodation. We include follow up support and pick up. HIT THE SLOPES: We've removed the hassle from ski hire, so you can maximise your holiday time.</p>
            <p>Get 10% off if you book 5 or more consecutive days.</p>
            <a href="https://www.snopro.co.nz" class="activated" style="margin-top: 30px;" target="_blank">
              <div class="btn btn-primary hidden-sm hidden-xs">
                 GET 10% OFF NOW!
              </div>
            </a>
        </div>
      </div>
  </div>

  <div class="container" style="padding: 60px 0;">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="affiliate-image-wrap">
          <img src="../../img/custom/affiliates-snowbiz.jpg" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="affilate-padding">
            <h2>Snowbiz</h2>
            <p>Come see the experts –  with all the latest gear and the ability to get all your lift passes, you’re in the right place.</p>
            <p>Big savings on multi days, plus our full workshop service, crystal glide, edge and waxing.</p>
            <p>Email: info@snowbiz.co.nz | Ph: 4412085 | Address: Station Building, Duke Street, Queenstown.</p>
            <a href="https://snowbiz.co.nz" class="activated" style="margin-top: 30px;" target="_blank">
              <div class="btn btn-primary hidden-sm hidden-xs">
                 Check Out Snowbiz Now!
              </div>
            </a>
        </div>
      </div>
  </div>

  <div class="container" style="padding: 60px 0;">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="affiliate-image-wrap">
          <img src="../../img/custom/affiliates-harris.jpg" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="affilate-padding">
            <h2>Harris Mountains Heli-Ski</h2>
            <p>The ultimate snow experience for every snowboarder or skier. We fly you to the best ski and snowboard terrain in New Zealand. From the mountains of Queenstown and Wanaka to the Aoraki Mount Cook region, escape the everyday and join us in an alpine paradise.</p>
            <a href="https://www.heliski.co.nz/" class="activated" style="margin-top: 30px;" target="_blank">
              <div class="btn btn-primary hidden-sm hidden-xs">
                 Visit Harris Mountains
              </div>
            </a>
        </div>
      </div>
  </div>

  <div class="container" style="padding: 60px 0;">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="affiliate-image-wrap">
          <img src="../../img/custom/affiliates-heli-line.jpg" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="affilate-padding">
            <h2>Harris Mountains Heli-Ski</h2>
            <p>Experience breath-taking scenery with New Zealand’s leading helicopter company.</p>
            <p>Operating with a fleet of modern Airbus helicopters specifically configured for flying in New Zealand’s outstanding National Parks, glaciers, mountains, lakes and valleys.</p>
            <p>We have a flight and activity for everyone, choose your adventure now to secure your spot.</p>
            <a href="https://www.helicopter.co.nz/" class="activated" style="margin-top: 30px;" target="_blank">
              <div class="btn btn-primary hidden-sm hidden-xs">
                 Visit Helicopter Line
              </div>
            </a>
        </div>
      </div>
  </div>

  <div class="container" style="padding: 60px 0;">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="affiliate-image-wrap">
          <img src="../../img/custom/affiliates-milford.jpg" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="affilate-padding">
            <h2>Milford Sound Scenic Flights</h2>
            <p>Experience Milford Sound by air on this scenic flight from Queenstown. Fly above the rugged backcountry of Central Otago, before heading to where the glacial-fed rivers empty into Lake Wakatipu. Crossing over Fiordland National Park, you’ll discover an untouched world of peaks and valleys, where mountains reach into the sea.</p>
            <p>Soaring above Milford Sound you’ll get an aerial perspective of cascading waterfalls hidden amongst towering peaks, and the icy blue channel that flows into the Tasman Sea. Fly across the mountain ranges and beech forests of the Southern Alps, above the famous Milford Track and over the Sutherland Falls before you reach the striking Lake Wakatipu and land at Queenstown Airport, rated one of the world’s most scenic landings.</p>
            <a href="https://www.milfordflights.co.nz/" class="activated" style="margin-top: 30px;" target="_blank">
              <div class="btn btn-primary hidden-sm hidden-xs">
                 Visit Milford Sound Scenic Flights
              </div>
            </a>
        </div>
      </div>
  </div>

</div>