<div class="col-md-12 full checkout-header">
    <h1 class="">
        Contact Food On Q
    </h1>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div style="padding: 20px 0;">
        <p>Are you a restaurant owner and looking to see what all the fuss is about? Or a customer who has a query about our services? Great. We want to hear from all of you. Just pop your details in the boxes to the right, and a Food On Q representative will get back to you as soon as possible.
               
        <p>Alternatively, If you require immediate contact, please get in touch on:</p>
                
        <p>+64 22 408 6642 or enquiries@foodonq.nz</p>
                
        <p>Thank you.</p>

    </div>
</div>