<div class="col-md-12 full checkout-header">
    <h1 class="">
        Frequently Asked Questions
    </h1>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 " style="padding: 30px 0;">
    <div style="padding: 20px 0;">

        <h3>01. What is Food On Q?</h3>
        <p>Food On Q is a food delivery service that has partnered up with many of Queenstown’s best restaurants. We
            provide an efficient delivery service that enables you to enjoy restaurant quality food, in the comfort of
            your own home.</p>
            <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>
        <h3>02. How do I make an order?</h3>
        <p>It’s never been easier to order the food you love. Simply enter your address on the homepage, select
            whichever restaurant you like, and add your chosen dishes to the cart. From there, head to the checkout and
            finalise your order online. Simply provide your delivery address & select your payment method, and we
            deliver to your door as fast as possible. If you have any queries or need any assistance, feel free to
            contact us via email or phone. </p>

                        <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>03. Can I order from more than one restaurant?</h3>
        <p>Yes you can. However, you can only order from one restaurant per order. If you would like to order from two
            or more that’s absolutely fine, you just have to make a separate order. It is a logistical headache
            otherwise and slows down our delivery process, and nobody wants that. 🙂</p>

                        <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>04. Which areas do you deliver to?</h3>
        <p>We currently operate in two different zones. Each zone has a different set of restaurants that we deliver
            for. <br><br>

            
            
        </p>

        <div class="col-sm-6">
            <img src="img/custom/queenstown.jpg" style="width: 100%; max-width: 100%; "/><br><br>
            <strong>Queenstown CBD</strong><br>
            For all the restaurants based in the CBD, we deliver to Central Queenstown, Fernhill, Sunshine Bay,
            Queenstown Hill, Frankton Road & Arthurs Point. 
        </div>
        <div class="col-sm-6">
            <img src="img/custom/frankton.jpg"  style="width: 100%; max-width: 100%; "/><br><br>
            <strong>Frankton</strong><br>
            For all the restaurants based in Frankton, we deliver to all of Frankton, Kelvin Heights, Lower Shotover,
            Shotover Country, Quail Rise & Lake Hayes Estate.
        </div>
        <div class="space">&nbsp;</div>
        <div class="space">&nbsp;</div>

        <h3>05. Why can’t I order from restaurants based in the CBD to the Frankton zone?</h3>
        <p>To us food quality is absolutely everything, and we strive to deliver your food in the freshest possible condition every time. For us to to be able to do this, we have to cap our delivery radius at about 7km from the restaurant. If we were to deliver a restaurants food that is based in the CBD out to Lower Shotover or Lake Hayes Estate, it would take about 30 minutes in peak times and your food would be stone cold. There’s nothing worse than a cold delivery...</p>

                    <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>06. What are your opening times?</h3>
        <p>
            <div class="col-sm-6">
            <strong>Queenstown CBD Zone</strong><br>
            Open 12pm - 10pm 7 days a week
            </div>
            <div class="col-sm-6">
            <strong>Frankton Zone</strong><br>
            Open 5pm - 10pm 7 days a week
            </div>
        </p>

                    <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>07. What are your delivery fee’s?</h3>
        <p>Our delivery fee’s are simple and they’re based on distance. Your fee will either be $8.99, $9.99, $10.99 or $11.99. This will be worked our automatically when you enter your address.</p>

                    <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>08. How long will the delivery take?</h3>
        <p>We pride ourselves on providing the most efficient delivery service possible, and our average delivery time
            is between 30-40 minutes. On the odd occasion, some of our partnered restaurants may have a long prep time
            on their food, so please allow up to one hour.</p>

                        <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>09. How can I pay for my order?</h3>
        <p>We only accept payments online with either a debit or credit card. Due to our large team of drivers it is
            not secure or practical for us to accept cash of eftpos on delivery. </p>

                        <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>10. What are your opening times?</h3>
        <p>We’re open 7 days a week delivering the goods! Our daily hours are Monday – Friday from 4pm -10pm, and
            Weekends from 12pm -10pm.</p>

                        <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>11. If there is an issue with my order who do I contact?</h3>
        <p>If you have an issue relating to your actual food order then please contact the restaurant. If you have
            issue regarding the delivery such as your address etc, then please contact us. We will be happy to help</p>

                        <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>12. If I have an allergy, dietary requirement, or a note about one of my ordered items, what’s the best way
            to notify you?</h3>
        <p>There is a “special notes” section located on every single menu item that you can order. if you have any
            dietary requirements or allergies, please make sure to put them down in there. If you need to speak to
            someone about it further, please contact the restaurant instead of us as they will be preparing the food
            for you.</p>

                        <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>


        <h3>13. Do you have a minimum order?</h3>
        <p>We have a minimum order amount of $20. Might as well get fries with that! :P</p>

        <div class="space">&nbsp;</div>
        <div class="space">&nbsp;</div>

    </div>
</div>