<div class="col-md-12 full checkout-header">
    <h1 class="">
        Group Orders
    </h1>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div style="padding: 20px 0;">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScd1F_u6LH2tQuiBs0Ae5UO9DWwG3h3ZvQu2AgcHQoHZXYfFQ/viewform?embedded=true" width="640" height="975" frameborder="0" marginheight="0" marginwidth="0" style="width: 100%;">Loading…</iframe>
    </div>
</div>