<div class="col-md-12 full checkout-header">
    <h1 class="">
        How To Guides
    </h1>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div style="padding: 20px 0;">

    </div>
</div>