<div class="container-fluid full">
    <div class="landing-welcome">
    	<div class="col-md-8 col-md-offset-2">
    	<div class="landing-logo text-center"><img src="img/custom/landing-logo.png" /></div>
    	<h1 class="sorry_text">{{ MLanguages.WE_ARE_SORRY }}</h1>
        <h3 class="closed_text">{{ MLanguages.CUSTOM_PAGE_TEXT1 }}</h3>
        <p class="closed_para">{{ MLanguages.CUSTOM_PAGE_TEXT2 }}</p>
        <p class="closed_para">{{ MLanguages.CUSTOM_PAGE_TEXT3 }}</p>
    	
    </div>
</div>
</div>
