<ion-modal-view class="popup">
    <i class="fa fa-times close" data-ng-click="hideBclosepopup()"></i>
    <ion-content class="color-bg popup-mode" overflow-scroll="">
       
        <div>
            <ion-item data-ng-class="{'arabic_rtl': arabic_rtl}">
                <h4 class="close-title"> {{ bcheading }} </h4>
            </ion-item>
        </div>
         <div>
            <ion-item data-ng-class="{'arabic_rtl': arabic_rtl}">
                <p class="close-des"> {{ bcmessage }} </p>
            </ion-item>
        </div>
       
        <ion-item class="bottom-cont" >
            <div >
                <div class="text-center" data-ng-click="">
                    <a class="ok-btn" data-ng-click="hideBclosepopup()" >{{ MLanguages.MOBILE_FOURTH_PAGE_OK }}</a>
                </div>
            </div>
        </ion-item>
    </ion-content>
</ion-modal-view>
