<div class="col-md-12 full checkout-header">
    <h1 class="">
        Food On Q Privacy Policy
    </h1>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div style="padding: 20px 0;">
        <p>
            <h2>Privacy Policy</h2>
        </p>
        <p>
            We have put in place the following policy to protect your personal information. By using our website and/or providing information
            to us, you consent to the policy.
        </p>
        <p>
            <h3>What personal information do we collect?</h3>
        </p>
        <p>
            You will give us information about yourself, such as your name, address, email address and telephone numbers when you make
            an order through our service. If you do not give this information, we will not be able to provide our service
            to you.
        </p>
        <p>
            When you visit our website we may collect more information, such as the address of your Internet service provider, the name
            of the web page directing you, and your clicks and activity on our site.
        </p>
        <p>
            <h3>How do we use the personal information?</h3>
        </p>
        <p>
            We may use the information to access your requirements, to process your transactions, to deliver our service, for our own
            internal purposes, to help us to develop our website to be more available and user friendly to our customers,
            and for any other use which you may authorise.
        </p>
        <p>
            In addition, we may use the information to promote and market our products and services, or the products and services of
            others. However, we will not do this by email (except as part of an email which facilitates, completes or confirms
            a transaction with you) unless we have your express or deemed consent to do so. By ordering through our website
            you are deemed to have consented to receiving our emails. These emails will always include an “unsubscribe” facility.
            Further, if you do not wish to receive them, you can also e-mail us at enquiries@foodonq.com.
        </p>
        <p>
            <h3>Will we disclose the information to others?</h3>
        </p>
        <p>
            We do not sell, trade or rent your personal information to others.
        </p>
        <p>
            However, we do use other companies and individuals to perform services on our behalf, such as sending emails and processing
            payments. They will have access to your personal information needed to perform these services, but we will not
            authorise them to use your information for other purposes.
        </p>
        <p>
            In addition, we may provide statistics about our customers, sales, traffic patterns and related site functions to reputable
            third parties.
        </p>
        <p>
            <h3>Cookies</h3>
        </p>
        <p>
            Our website uses a technology called cookies. A cookie is a small element of data that our website may send to your computer.
            Any such cookie is typically stored on your computer’s hard drive and permits our website to recognise you when
            you return. Our use of cookies helps us to provide you with a better experience during your use of our website
            by allowing us to understand what areas of the site are of interest to you. You may configure your web browser
            to not accept cookies, although you may experience a loss of functionality as a result.
        </p>
        <p>
            <h3>Security</h3>
        </p>
        <p>
            We take security seriously, and have taken steps to ensure your personal information is secure.
        </p>
        <p>
            We use secure servers, and industry standard data encryption whenever we are receiving or transferring your information online.
            However, we accept no responsibility for any loss, misuse, unauthorised access or disclosure, alteration or destruction
            of personal information which you submit to us.
        </p>
        <p>
            We use the eWAY Payment Gateway for our secured online credit card transactions. We do not store your credit card details.
        </p>
        <p>
            <h3>What about links to other websites?</h3>
        </p>
        <p>
            Our website contains links to other sites that are not under our control. These websites have their own privacy policies,
            and we encourage you to review them. We have no responsibility for linked websites, and provide them solely for
            your information and convenience.
        </p>
        <p>
            <h3>Updating your personal information</h3>
        </p>
        <p>
            You may obtain confirmation from us as to whether or not we hold personal information about you. You may also request a copy
            of the information and/or request that corrections or changes are made to it. You can make changes to your personal
            information by e-mailing us at enquiries@foodonq.com.
        </p>
        <p>
            <h3>Policy changes</h3>
        </p>
        <p>
            We may change this policy from time to time and will notify you by posting an updated version on our website. This document
            represents our privacy policy as at [insert date].
        </p>
        <p>
            <h3>Feedback</h3>
        </p>
        <p>
            We welcome your questions and comments about privacy by e-mailing us at enquiries@foodonq.com.
        </p>
    </div>
</div>