<div class="col-md-12 full checkout-header"  >
    <h1>Download Food On Q Queenstown Map</h1>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" style="padding: 80px 0;">
    <a href="https://drive.google.com/uc?id=1JQFOScUKuD5NL4a0FG-d3jhCXMd6AF_q&export=download" target="_blank">
        <div>
            <img src="../img/custom/map-side-1.jpg" style="width: 100%; height: auto;" />
        </div>
        <div style="padding: 10px 0;">
            <img src="../img/custom/map-side-2.jpg" style="width: 100%; height: auto;" />
        </div>
    </a>
</div>