<div class="col-md-12 full checkout-header">
    <h1 class="">
        Partner With Us
    </h1>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div style="padding: 20px 0;">
        <p>If you're a restaurant or eatery in Queenstown and you'd like to increase your dining capacity without increasing your dining area, look no further than Food On Q! Partnering with us not only makes your restaurant more accessible and open to a whole new market of customers, but it also keeps an efficient, convenient service for your loyal ones too. We take pride in working very closely with our partnered restaurants to help grow their business in any way we can. Our mission is to not just provide a delivery service for you, but to promote your restaurant as much as possible, all the while reflecting the quality of your service through to our customer's doorstep.</p>
        <p>To get some more information about how we can be a great asset to your business, please don’t hesitate to contact us on, enquiries@foodonq.nz, and one of our representatives will get back to you right away.</p>
        <p>Thanks, the Food On Q team.</p>
    </div>
</div>