<div class="col-md-12 full checkout-header">
    <h1 class="">
        Food On Q Terms &amp; Conditions
    </h1>
</div>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div style="padding: 20px 0;">
        <p>We (Food On Q Limited) provide our ordering and delivery services to you subject to the following terms and conditions
            together with our separate privacy policy. By using this website you agree to be bound by these terms and conditions
            and our privacy policy. If you do not agree to be bound by these terms and conditions and our privacy policy
            you must not access or use this website immediately.</p>
        <p>We may from time to time amend, update or change this website, including these terms and conditions, at any time
            without notice.</p>
        <h3>Where we service</h3>
        <p>Our services are available in the following areas which are split into two separate zones. CBD Zone & Frankton Zone. Different restaurants are available in different areas.</p>
        <p>Queenstown CBD Zone. Queenstown CBD. Queenstown Hill. Frankton Road. Fernhill. Sunshine Bay. Arthurs Track. Arthurs Point. </p>
        <p>Frankton Zone covers, Frankton, Five Mile, Queenstown Central Village, Kelvin Heights. Remarkables Park. Quail Rise. Lower Shotover. Shotover. Country. Lake Hayes Estate. </p>
        <h3>Age</h3>
        <p>You must be over 16 years of age to use our services unless you have parental consent.</p>
        <h3>Availability</h3>
        <p>Our services are only available in the Queenstown area. We have a specific delivery radius that we currently deliver
            to. This includes, and is limited to, all of Fernhill and Sunshine Bay, the whole of central Queenstown,&nbsp;and
            out to Frankton as far as Marina Drive. Then out to Arthurs point up until the top of Atley road. All customers
            using Food On Q confirm that they fall within our delivery radius when entering their address on the homepage.
            If you select “i can’t find my address” and go through manually, by doing so you have also confirmed you fall
            within our delivery radius.</p>
        <p>We rely on our restaurant/takeaway operator partners to ensure that our list of available items is correct. However,
            all listed items are subject to availability.</p>
        <p>If any ordered item is unavailable we will immediately contact you and you can elect to either:</p>
        <p>• Select an item of the equivalent value to the unavailable item in substitution so as to continue with the immediate
            order;
            <br> • Accept a credit with us equivalent to the unavailable item; or
            <br> • Obtain a refund from us equivalent to the unavailable item.</p>
        <p>You order is also subject to our hours of business and our restaurant / takeaway operators partners’ hours of business.</p>
        <h3>Sale of Alcoholic Products</h3>
        <p>We do not offer or promote the delivery of any alcoholic products as part of our services.</p>
        <h3>Payment</h3>
        <p>The contract for the supply of items you order through us is with the relevant restaurant / takeaway operator partner.
            Notwithstanding this, payment for the ordered items together with our services is made to us in the first instance.
            We are then responsible for payment to the relevant restaurant / takeaway operator partner. We are authorised
            by our restaurant / takeaway operator partners to accept payment on their behalf.</p>
        <p>The price of any item is liable to change at any time, but such changes will not affect your immediate order.</p>
        <p>We accept payment by way of Visa or MasterCard. We also accept cash upon delivery; however reserve the right to require
            payment by credit card only at our entire discretion. You will be contacted directly in the circumstances that
            cash upon delivery will not be accepted.</p>
        <p>Once you have completed your credit card order on our website you will receive an e-mail confirmation from eWAY,
            our secure online payment provider. If you pay by cash you will receive an e-mail confirmation from us directly.</p>
        <p>Please note that the final amount payable for ordering items through our website will additionally include our service
            fees and will be inclusive of GST.</p>
        <h3>Cancellation</h3>
        <p>Once you have confirmed your order through our website no changes or cancellations can be made. The ordered items
            will be charged for and delivered and, where appropriate, cash payment will be required.</p>
        <h3>Delivery</h3>
        <p>Please ensure that all contact details provided to us are correct so that we can ensure delivery. If we are unable
            to contact you at your property upon delivery we reserve the right to leave shortly after attempting to contact
            you via telephone and otherwise making our presence known at your property, and we further reserve the right
            to either leave the ordered items at your property or otherwise. You will still be charged in these circumstances
            and no refund or credit will be available.</p>
        <p>We cannot guarantee a specific delivery time but will use our best endeavours to deliver to you as soon as possible
            however, depending on the time of day, please allow for sixty minutes. If you are not satisfied with the length
            of time taken to complete delivery, please contact us.</p>
        <p>We will not be liable for any delays or non-performance arising from any cause beyond our control including, without
            limitation, war, fire, flood, earthquake, riot or governmental act.</p>
        <h3>Liability</h3>
        <p>In the event that our restaurant / takeaway operator partners overlook an ordered item, or if in our view the ordered
            item is not fit for delivery, and this becomes apparent upon our collection of the ordered items, we will immediately
            contact you and you can elect to either:</p>
        <p>• Confirm that you would still like the ordered item notwithstanding that it will take longer to be delivered;
            <br> • Accept a credit with us equivalent to the item; or
            <br> • Obtain a refund from us equivalent to the item.</p>
        <p>If you are not satisfied with our services please contact us. If you are not satisfied with the quality of the ordered
            items please contact the relevant restaurant / takeaway operator directly (however please feel free to additionally
            provide feedback to us). We are not liable for any issues of quality relating to the ordered items. Furthermore,
            we are not responsible in the event of any allergic reactions to ordered items. If you have any concerns in this
            regard please contact the relevant restaurant / takeaway operator partner directly prior to placing your order.</p>
        <p>To the extent permitted by law we provide our services and content on an “as is” and “as available” basis and we
            make no representation or warranty of any kind, express or implied, regarding the content or availability of
            our services and the items available through our services, or that our services will be timely, free from error
            or that errors will be corrected. To the extent permitted by law, neither we nor or our restaurant / takeaway
            operator partners shall have any liability to you for any direct, indirect, special or consequential losses or
            damages arising in contract, tort (including negligence) or otherwise arising from your use of or inability to
            use our services. In the event that we or our restaurant / takeaway operator partners are found to be liable
            to you our total aggregate liability is limited to the final price of the items paid for in your order.</p>
        <p>You agree to indemnify us and hold us harmless from any loss, liability, damage, claim or demand, including reasonable
            lawyers’ fees, made by any third party due to or arising out of your use of our website and our services.</p>
        <h3>Intellectual Property</h3>
        <p>We are the owner of, or the licensee of, all intellectual property rights in our website and our services. These
            works are protected by trademark and copyright laws and all such rights are reserved.</p>
        <h3>Jurisdiction</h3>
        <p>These terms and conditions, and any dispute or claim arising out of or in connection with them or their subject matter
            or formation (including non-contractual disputes or claims) shall be governed by New Zealand law.</p>
        <h3>Feedback</h3>
        <p>We welcome your questions and comments about our terms and conditions by e-mailing us directly at: enquiries@foodonq.com</p>
    </div>
</div>